.listContainer {
  padding-left: 0px;
  list-style: none;
}
.addContributorButton {
  border-radius: 5px !important;
  padding: 0 !important;
  color: white;
  max-width: 90px;

  &:hover {
    box-shadow: none !important;
    box-sizing: border-box;
    border: 1px solid var(--c-orange-200) !important;
  }
  &:focus {
    box-shadow: none !important;
  }
}
.btn {
  padding: 0;
  margin: 0 3.5px;
  border-radius: 5px;
  width: 30px;
  height: 32px;
  border-color: transparent !important;

  &:focus {
    box-shadow: none;
  }
}