@import '_styles/mixins';

.checkReadOnly {
  margin-left: 3.5rem !important;
  width: 70px;
}
.checkRequired {
  margin-left: 3.5rem !important;
  width: 70px;
}
.checkPK {
  margin-left: 1rem !important;
}
.draggableFieldDiv .inputField {
  margin-left: 2.5rem;
  width: 20%;
  &.withCodeListOrLink {
    width: 15%;
  }
}
.inputFieldDescription {
  margin-left: 0.4rem !important;
  width: 15%;
  &.withCodeListOrLink {
    width: 15%;
  }
  @include for-big-desktop-up {
    width: 25%;
  }
}
.draggableFieldDiv {
  display: flex;
  justify-items: center;
  flex-flow: wrap;
  align-items: baseline;
  margin: 0px 0 5px 0;
  width: 100%;
}

.draggableFieldDiv:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.draggableFieldDiv * {
  pointer-events: none;
}

.dragAndDropActive {
  pointer-events: none;
}

.dragAndDropInactive {
  pointer-events: auto;
}

.dropdownFieldType {
  margin-left: 0.4rem;
  width: 20%;
  height: 33px;
  min-width: 188px;
  &.withCodeListOrLink {
    width: 20%;
    min-width: 188px;
  }
}

.codelistButton {
  margin-left: 0.4rem !important;
  border: 1px solid var(--gray-25) !important;
  width: 8%;
  height: 1.95rem;
  width: 4rem;
}

.codelistButton span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 4rem;
  font-size: 13px;
}

.button {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-left: 0.4rem;
  border-radius: 3px;
  height: 1.95rem;
  border: 1px solid var(--c-custom-gray);
  color: var(--main-font-color);
  :hover {
    background-color: var(--c-custom-gray);
    color: var(--main-font-color);
  }
}

.deleteButton {
  color: var(--errors);
  cursor: pointer;
}

.deleteButton:hover {
  background-color: var(--c-custom-gray);
  color: var(--errors);
}

.disabledDeleteButton {
  pointer-events: none !important;
  text-decoration: none;
  opacity: 0.5;
  cursor: not-allowed;
}
.disabledDeleteButton:hover {
  background-color: transparent;
}

.fieldSeparator {
  box-shadow: var(--field-designer-separator-box-shadow);
  width: 74.5vw;
  height: 30px;
  background-color: var(--field-designer-separator-bg);
  margin: 5px 0 5px 2rem;
  padding: 5px;
  order: 2;
  display: none;
}
.fieldSeparator:first-child {
  order: 1;
}

.fieldSeparatorDragging {
  display: block;
  animation-name: fadeInBorder;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 100ms;
  border: 2px dashed var(--field-designer-separator-border-color);
  opacity: 0.7;
  border-radius: 3px;
}

.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 400ms;
}

.flip {
  animation: flip 0.5s;
}

.qcButton {
  border: 1px solid var(--c-custom-gray) !important;
  align-self: center;
}

.linkDisabled {
  pointer-events: none;
  cursor: default;
  svg {
    opacity: 0.3;
  }
}

.checkboxDisabled {
  cursor: default !important;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    display: 'block';
  }
  40% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
    display: 'none';
  }
}

@keyframes fadeInBorder {
  0% {
    border: 0px dashed var(--gray-75);
    opacity: 0.2;
  }
  100% {
    border: 1px dashed var(--gray-75);
    opacity: 0.7;
  }
}
