@import '_styles/mixins';

.draggableFieldDiv .inputField {
  margin-left: 2.5rem;
  width: 20%;
  &.withCodeListOrLink {
    width: 15%;
  }
}

.draggableFieldDivDisabled {
  pointer-events: none !important;
  text-decoration: none;
  opacity: 0.5;
  cursor: not-allowed;
}
.inputFieldDescription {
  margin-left: 0.4rem !important;
  width: 15%;
  &.withCodeListOrLink {
    width: 15%;
  }
  @include for-big-desktop-up {
    width: 25%;
  }
}

.draggableFieldDiv {
  display: grid;
  grid-template-columns: 3% 5% 5% 5% 22% 22% 22% 10% 3% 3%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .draggableFieldContentCell {
    .draggableFieldCell {
      &:first-child {
        display: none;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    &:nth-child(8) {
      button {
        width: 100%;
      }
    }
    &:nth-child(9),
    &:nth-child(10) {
      width: 100%;
    }

    .draggableFieldCell {
      margin-right: 0.5em;
      padding: 3px 0;
      &:nth-child(2) {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.draggableFieldDiv:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.disablePointerEvent * {
  pointer-events: none;
}

.dragAndDropActive {
  pointer-events: none;
}

.dragAndDropInactive {
  pointer-events: auto;
}

.dropdownFieldType {
  width: 100%;
  &.withCodeListOrLink {
    width: 100%;
  }
}

.codelistButton {
  margin-left: 0.4rem !important;
  border: 1px solid var(--general-border-color) !important;
  width: 8%;
  height: 1.95rem;
  width: 4rem;
  &:hover {
    border-color: var(--button-secondary-border-color-hover) !important;
  }
}

.codelistButton span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 4rem;
  font-size: 13px;
}

.button {
  width: 2.5em;
  padding-top: 0.4rem;
  padding-bottom: 0.35rem;
  border-radius: 3px;
  border: 1px solid var(--general-border-color);
  color: var(--main-font-color);
  &:hover {
    background-color: var(--button-secondary-transparent-bg-hover);
    color: var(--main-font-color);
    border-color: var(--button-secondary-border-color-hover);
  }
}

.deleteButton {
  color: var(--errors);
  cursor: pointer;
  &:hover {
    color: var(--errors);
    border-color: var(--button-secondary-border-color-hover);
  }
}

.disabledButton {
  pointer-events: none !important;
  text-decoration: none;
  opacity: 0.5;
  cursor: not-allowed;
  &:hover {
    background-color: transparent;
  }
}

.duplicateButton {
  cursor: pointer;
  &:hover {
    background-color: var(--button-secondary-transparent-bg-hover);
    border-color: var(--button-secondary-border-color-hover);
  }
}

.fieldSeparator:first-child {
  order: 1;
}

.fieldSeparatorDragging {
  &:before {
    content: '';
    pointer-events: none;
    animation-duration: 100ms;
    animation-iteration-count: 1;
    animation-name: fadeInBorder;
    animation-timing-function: ease-in;
    background-color: var(--field-designer-separator-bg);
    border-radius: 3px;
    border: 2px dashed var(--field-designer-separator-border-color) !important;
    box-shadow: var(--field-designer-separator-box-shadow) !important;
    display: block;
    grid-area: 1 / 1 / 2 / 11;
    height: 30px;
    margin: 5px 0;
    opacity: 0.7;
    padding: 5px;
    width: 98%;
  }
}

.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 400ms;
}

.flip {
  animation: flip 0.5s;
}

.qcButton {
  border: 1px solid var(--general-border-color) !important;
  align-self: center;
  &:hover {
    border-color: var(--button-secondary-border-color-hover) !important;
  }
}

.linkDisabled {
  pointer-events: none;
  cursor: default;
  svg {
    opacity: 0.3;
  }
}

.checkboxDisabled {
  cursor: default !important;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    display: 'block';
  }
  40% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
    display: 'none';
  }
}

@keyframes fadeInBorder {
  0% {
    border: 0px dashed var(--c-gray-75);
    opacity: 0.2;
  }
  100% {
    border: 1px dashed var(--c-gray-75);
    opacity: 0.7;
  }
}

.PKWrap {
  .PKInfoButton {
    background-color: var(--c-white-color) !important;
    border-radius: 50% !important;
    color: var(--datatable-header-info-button-color) !important;
    font-size: 12pt !important;
    height: 0.7em !important;
    width: 0.7em !important;
    margin-left: 0.4rem !important;
    margin-right: 0.9rem !important;
    margin-top: -1rem !important;
    :global .pi-info-circle {
      padding: 0 !important;
      top: 40%;
    }
    > span {
      left: 46% !important;
      margin-left: -0.48em !important;
      margin-top: -0.5em !important;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
}

@media screen and (max-width: 1400px) {
  .draggableFieldDiv {
    grid-template-columns: 2% 5% 5% 5% 21% 21% 21% 10% 5% 5%;
  }
}

@media screen and (max-width: 850px) {
  .button {
    width: 100%;
  }
  .draggableFieldDiv {
    display: table;
    width: 100%;
    border-collapse: separate;
    padding-bottom: 20px;
    margin: 5% auto 0;
    text-align: center;
    .draggableFieldContentCell {
      display: flex;
      justify-content: center;

      .draggableFieldCell {
        display: flex;
        flex-direction: row;
        width: 50%;
        margin-right: 0;
        &:first-child {
          display: flex;
          text-align: left;
          width: 50%;
          padding-right: 1em;
        }
      }
    }
  }
}

@media screen and (min-width: 1950px) {
  .draggableFieldDiv {
    grid-template-columns: 3% 5% 5% 5% 23% 23% 23% 10% 1.5% 1.5%;
  }
}
