.listItem {
  border-radius: 20px;
  padding: 2rem;
  font-size: 2rem;
}
.dataSet {
  background-color: var(--c-corporate-blue);
  color: var(--white);
}
.documents {
  background-color: #ffba01;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
