.codelistsActions {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.filterSpan {
  width: 25%;
}

.inputFilter {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  width: 100% !important;
}

.inputFilter:enabled:focus,
.inputFilter:focus {
  box-shadow: 0 0 0 0 var(--blue-120) !important;
}

.newCategoryButton {
  margin-left: auto !important;
}

.orderIcon {
  /* margin-left: -5rem; */
  margin-top: 0.4rem !important;
  opacity: 0.7;
  font-size: 16pt !important;
}

.orderIcon:hover {
  opacity: 1;
}

.orderIcon:enabled:focus {
  box-shadow: 0 0 0 0 var(--white) !important;
}

.orderIcon:enabled:active,
.orderIcon:enabled:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}

.positioning {
  position: sticky !important;
}

.switchDiv {
  display: flex;
  align-items: center;
  margin-left: auto !important;
  margin-right: 1.5rem;
}

.switchTextInput {
  font-size: 1em;
  font-weight: bold;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 5px;
}
