.codelistInput {
  margin: 1.5rem 0 0 2rem;
  width: 33%;
}

.codelistInputTextarea {
  margin: 1.5rem 0 0 2rem;
  width: 66%;
}

.codelistItem {
  font-size: 12pt;
  /* cursor: pointer; */
}

.codelistItem {
  margin: 0 1.5rem 0 0.5rem;
  padding: 1rem;
  border-top: 1px solid var(--gray-25);
  display: flex;
  /* border-bottom: 1px solid var(--gray-25); */
}
.codelistItem span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemTable {
  margin: 1.5rem 0 1rem 2rem;
}
.codelistExpandable {
  height: 1vw;
  padding: 1rem 0 2rem 1rem;
  /* background-color: var(--gray-5); */
  display: flex;
}

.footerWrap {
  display: flex;
  justify-content: space-between;
}

.footerWrap input {
  margin-right: 1rem;
}

.footerWrap input:nth-last-child(2) {
  margin-left: auto;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
}
