.titleBar {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
  justify-content: space-between;
  .title_wrapper {
    .title {
      margin: 0;
    }
  }
}
.buttonsWrapper {
  display: flex;
  flex-direction: row;
}
.buttonsWrapper button {
  border-radius: 20px !important;
}
.buttonsWrapper button :global .p-button-text {
  font-size: 2rem;
  padding: 2rem !important;
}
.dataSetItem :global .p-button.p-button-icon-only .p-button-text {
  padding: 0px !important;
  height: 0px !important;
}
.buttonsWrapper :global .p-splitbutton-menubutton {
  right: 2em;
  position: absolute;
  height: 20px;
  right: 0;
  bottom: 0;
  border-radius: 0px 0px 20px 0px !important;
}
.buttonsWrapper :global .p-splitbutton-menubutton:enabled:focus {
  box-shadow: none;
}
.buttonsWrapper :global .p-button-icon-left {
  bottom: 0px;
  top: auto;
}
.splitButtonWrapper {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.splitButtonWrapper:nth-last-of-type(2) {
  margin-left: 0px;
}
.splitButtonWrapper .dataSetItem {
  margin-right: 1rem;
}
.caption {
  text-align: center;
  text-transform: capitalize;
  margin: 0.5rem;
}
