.resizable.resizable{
  min-height:150px;
  resize:vertical;
  overflow:auto!important;
  max-height:1200px;
}

.p-inputtextarea[ondblclick]:not(.p-disabled):not(:focus):hover {
  cursor: pointer;
  border-bottom: 2px dashed var(--primary-color-light);
}