.mapButton {
  margin-right: 1rem;
  width: 2.357em;
}
.nonEditableData {
  font-style: italic;
  font-weight: bold;
}
.pointEpsgWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
  label:first-child {
    width: 80px;
    color: var(--main-font-color);
    font-size: 0.9em;
    font-weight: bold;
  }
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    .epsgSwitcher {
      width: 100%;
    }
  }
}

.pointWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}
