.dialog {
  height: auto !important;
}
.crudColumn {
  text-align: center;
}
.editRowButton {
  border: 1px solid var(--c-custom-gray) !important;
  box-shadow: 0 0 0 0em var(--blue-100) !important;
  margin-left: 3px !important;
}

.deleteRowButton {
  border: 1px solid var(--c-custom-gray) !important;
  box-shadow: 0 0 0 0em var(--blue-100) !important;
  color: var(--errors) !important;
  margin-left: 3px !important;
}
.webLinkEditButtons {
  display: flex;
  justify-content: center;
}
.buttonWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.cancelButton {
  margin-left: 0.5rem !important;
}

.weblinksToolbar {
  border: 0px !important;
}
