.spinnerWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 6000;
  background-color:  rgba(0, 0, 0, 0.2); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  top: 0 !important;
  left: 0 !important;
}
