.Footer {
	/* 	position: fixed;
	bottom: 0px; */
	text-align: center;
	background-color: var(--bluebg-color);
	color: white;
	padding: 1rem 0;
	width: 100%;
	margin-top: 2em;
}

.Footer a {
	color: white;
	margin: 0.5rem;
	font-weight: 300;
	font-size: 0.9rem;
}

.Footer a:hover {
	color: white;
	text-decoration: none;
}
