.bigButton {
  border-radius: 10px;
  font-size: 2rem;
  max-width: fit-content;
}
.bigButton > a {
  padding: 2.3rem 2.7rem;
}
.dataset {
  background-color: var(--c-corporate-blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dataset a {
  color: var(--white);
  border-radius: 10px;
}
.dataset a:hover {
  color: var(--white);
  background-color: var(--c-blue-400);
}

.designDatasetSchema {
  background-color: var(--c-blue-green);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.designDatasetSchema a {
  color: var(--white);
  border-radius: 10px;
}
.designDatasetSchema a:hover {
  color: var(--white);
  background-color: var(--c-aquamarine);
}

.documents {
  background-color: var(--c-orange-200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.documents a {
  color: var(--white);
  border-radius: 10px;
}
.documents a:hover {
  background-color: var(--c-orange-300);
  color: var(--white);
}

.dropDwonIcon {
  position: absolute;
  bottom: -7px;
  right: 5px;
  cursor: pointer;
}
.dropDownMenu {
  position: absolute;
  bottom: 0px;
  right: -52px;
  cursor: pointer;
  font-size: 0.8rem;
  border: 1px solid var(--c-black-200);
  background-color: var(--white);
  width: 170px;
  border-radius: 2%;
  z-index: 1000;
  padding: 0 0.8rem;
  color: var(--c-black-400);
  border: 1px solid #c8c8c8;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
  font-size: 0.9rem;
  opacity: 0;
  user-select: none;
}
.dropDownMenu ul {
  list-style: none;
  padding: 0px;
}

.dropDownMenu ul li a {
  color: var(--c-black-400);
}
.dropDownMenu ul li a:hover {
  color: var(--c-black-400);
  background-color: rgba(0, 0, 0, 0);
}

.dropDownMenu ul li a i {
  margin-right: 0.5rem;
}

.menuItemDisabled {
  color: var(--c-black-300) !important;
}
.menuItemDisabled:hover {
  color: var(--c-black-300);
}
.released {
  display: block;
  position: absolute;
  top: 0px;
}
.dashboard {
  background-color: var(--c-purple-400);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.dashboard a {
  color: var(--white);
  border-radius: 10px;
}
.dashboard a:hover {
  background-color: var(--c-purple-300);
  color: var(--white);
}
.newItem {
  background-color: var(--c-blue-300);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.newItem a {
  color: var(--white);
  border-radius: 10px;
}
.newItem a:hover {
  background-color: var(--c-blue-200);
  color: var(--white);
}

.caption {
  text-align: center;
  text-transform: capitalize;
  margin: 0.75rem 0.5rem;
  word-wrap: break-word;
  max-width: 100px;
  box-sizing: content-box;
}
.datasetItem :global .p-button.p-button-icon-only .p-button-text {
  padding: 0px !important;
  height: 0px !important;
}

.inputText {
  word-wrap: break-word;
  max-width: fit-content;
  margin: 0.25rem !important;
}

:global .svg-inline--fa {
  min-width: 2rem;
}
