.levelErrorTemplateWrapper {
  display: flex;
  justify-content: center;
}
.propertyValueTableName {
  font-weight: bold;
}
.warning {
  background-color: var(--statusBox-warning-bg) !important;
  color: var(--statusBox-warning-color) !important;
}
