.block {
  display: flex;
  width: 25% !important;

  .multiSelect {
    border-radius: 0px !important;
    border: 0px !important;
    color: var(--floating-label-color) !important;
    font-size: 0.8333rem !important;
    height: 2.25rem;
    padding-left: 0em;
    width: 90% !important;

    label {
      color: var(--active-filter-font) !important;
      font-weight: bold !important;
      height: 100%;
      margin-left: 0.1rem;
    }

    ul > li > label > span {
      color: var(--font-filters) !important;
      font-weight: unset !important;
    }
  }

  .elementFilter {
    border-bottom: var(--inputtext-border) !important;
  }

  .elementFilterSelected {
    border-bottom: var(--active-filter-border) !important;
    box-shadow: var(--active-filter-shadow);
  }
}

@media (max-width: 640px) {
  .block {
    .multiselectFilter,
    .label {
      width: 100% !important;
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 935px) {
  .block {
    label {
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width: 1200px) {
  .block {
    width: 50% !important;
  }
}

@media (max-width: 1695px) {
  .block {
    height: 3rem;
  }
}
