.characterCount{
    float:right;
    text-align: right;
    pointer-events: none;
    
  }

  .redCharacterCount{
    color:red;
    float:right;
    text-align: right;
    pointer-events: none;
  }

  