.characterCount {
  position: relative;
  padding-right: 10px;
  top: -1.7rem;
  padding-right: 5px;
  text-align: right;
}

.redCharacterCount {
  color: red;
  position: relative;
  top: -1.7rem;
  padding-right: 10px;
  text-align: right;
}
