.inputswitch_dark_theme_checked:before {
  background-color: var(--black) !important;
  box-shadow: inset -4px -1px var(--white) !important;
  // bottom: 0.35em !important;
}

.inputswitch_dark_theme_unchecked,
.inputswitch_dark_theme_checked {
  margin-right: -0.15em !important;
}

.inputswitch_dark_theme_checked {
  background-color: var(--black) !important;
}

.inputswitch_dark_theme_unchecked:before {
  background-color: var(--c-corporate-yellow) !important;
  box-shadow: inset -3px 0px rgba(0, 0, 0, 0.1) !important;
}

// background-color: transparent;
//     background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR…atLcLAdHTgtGGD80D6jM0+aOl4wJgO/f96R2aJKCQ3yvgftRhdFMOpd6oAAAAASUVORK5CYII=);
//     background-repeat: no-repeat;
//     background-size: 16px 16px;
