.p-growl {
  top: 70px;
  opacity: 0.95;
  filter: alpha(opacity=95);
  width: 50em !important;
}
.p-growl.p-component.p-growl-topright {
  z-index: 5100 !important;
}

.p-growl-topright {
  top: 80px !important;
}
