.dropDownMenu {
  position: absolute;
  bottom: 0px;
  right: -52px;
  cursor: pointer;
  font-size: 0.8rem;
  border: 1px solid var(--c-black-200);
  background-color: var(--white);
  width: 170px;
  border-radius: 2%;
  z-index: 1000;
  padding: 0 0.8rem;
  color: var(--c-black-400);
  border: 1px solid var(--c-custom-gray);
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
  font-size: 0.9rem;
  opacity: 0;
  user-select: none;
}
.dropDownMenu ul {
  list-style: none;
  padding: 0px;
}

.dropDownMenu ul li a {
  color: var(--c-black-400);
}
.dropDownMenu ul li a:hover {
  color: var(--c-black-400);
  background-color: rgba(0, 0, 0, 0);
}

.dropDownMenu ul li a i {
  margin-right: 0.5rem;
}

.menuItemDisabled {
  color: var(--c-black-300) !important;
}
.menuItemDisabled:hover {
  color: var(--c-black-300);
}
