.content {
  margin-top: 6px;
  .mainTextWrapper {
    display: flex;
    justify-content: space-between;
    background-color: var(--public-custom-header-bg);
    max-width: 100vw;
    :global .rep-container {
      max-width: 97%;
    }
    .pageContent {
      .frontText {
        color: var(--white);
        display: grid;
        grid-template-columns: 36% 49% 15%;
        grid-template-rows: 100%;
        .text {
          grid-column: 1/2;
          padding-top: 3rem;
          h2 {
            font-size: 1.2rem;
            color: var(--white);
            border-bottom: 1px solid var(--white);
            padding-bottom: 1.2rem;
          }
          .columnsWrapper {
            display: flex;
            justify-content: space-between;
            .column {
              width: 45%;
              line-height: 1.5rem;
              a {
                color: var(--white) !important;
                text-decoration: underline;
                &:hover {
                  color: var(--c-corporate-yellow) !important;
                }
                &:visited {
                  color: var(--c-corporate-yellow) !important;
                }
              }
            }
          }
        }
        .illustration {
          grid-column: 2/3;
          display: flex;
          justify-content: flex-end;
          img {
            max-width: 100%;
          }
        }
        .sideBar {
          grid-column: 3/4;
          display: flex;
          flex-direction: column;
          padding: 4rem 2rem;
          .contactBox {
            width: 100%;
            color: var(--white);
            opacity: 0.7;
            .iconWrapper {
              .emailIcon {
                width: 25px;
                height: 25px;
                font-weight: lighter;
              }
            }
            h4 {
              font-size: 0.8rem;
              margin-top: 0px;
              margin: 0 0 0.5rem 0;
            }
            p {
              font-size: 0.8rem;
              margin: 0px;
            }
            a {
              display: flex;
              flex-direction: column;
              justify-content: center;
              color: var(--white);
              height: 100%;

              p {
                margin: 0px;
              }
            }
          }
          .separator {
            background-color: var(--white);
            width: 90%;
            margin: 2rem 0;
          }
          .linkBox {
            display: flex;
            flex-direction: column;
            color: var(--white);
            opacity: 0.7;
            font-size: 0.8rem;
            .iconWrapper {
              .emailIcon {
                width: 25px;
                height: 25px;
                font-weight: lighter;
              }
            }
            h4 {
              margin: 0 0 0.5rem 0;
            }
            ul {
              padding: 0 0 0 1rem;
              margin: 0;
              li {
                margin-bottom: 0;
                &:hover {
                  text-decoration: underline;
                }
                a {
                  display: flex;
                  align-items: center;
                  color: var(--white);
                  text-decoration: none;
                }
              }
            }
          }
        }
        @media (max-width: 1505px) {
          grid-template-columns: 80% 20%;
          .text {
            grid-row: 1/2;
            max-width: 80%;
          }
          .illustration {
            display: none;
          }

          .sideBar {
            grid-column: 2/3;
          }
        }
        @media (max-width: 1314px) {
          justify-content: space-between;
          display: flex;
          .text {
            width: 72%;
            padding-top: 2rem;
            h2 {
              margin-top: 0px;
            }
          }
          .illustration {
            display: none;
            img {
              display: none;
            }
          }
          .sideBar {
            width: 25%;
            padding: 2rem 0 0 2rem;
            margin: 0;
            flex-direction: column;
            .contactBox {
              margin-bottom: 0px;
            }
            .separator {
              display: block;
              margin: 1rem 0;
            }
            .linkBox {
              width: 100%;
            }
          }
        }
        @media (max-width: 903px) {
          flex-direction: column;
          display: flex;
          .text {
            width: 100%;
          }
          .illustration {
            display: none;
            img {
              display: none;
            }
          }
          .sideBar {
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            padding: 2rem 0;
            .contactBox {
              width: 55%;
              margin-bottom: 0px;
            }
            .separator {
              display: none;
            }
            .linkBox {
              width: 40%;
            }
          }
        }
        @media (max-width: 736px) {
          padding: 1rem;
          .text {
            .columnsWrapper {
              flex-direction: column;
              .column {
                width: 100%;
              }
            }
          }
          .sideBar {
            flex-direction: row;
            justify-content: space-between;
          }
        }
        @media (max-width: 320px) {
          padding: 1rem;
          .text {
            .columnsWrapper {
              flex-direction: column;
              .column {
                width: 100%;
              }
            }
          }
          .sideBar {
            flex-direction: column;
            justify-content: flex-start;
            .separator {
              display: block;
              margin: 2rem 0;
            }
          }
        }
      }
    }
  }

  .otherPortals {
    width: 100%;
    padding-bottom: 4rem;
    .portalList {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      padding-top: 0.5rem;
      .portalBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 280px;
        border-radius: 5px;
        padding: 1rem;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
        margin-right: 1rem;
        cursor: pointer;
        p {
          text-align: center;
        }
        &:hover {
          box-shadow: var(--card-item-box-shadow-hover);
          transform: scale(1.02, 1.02);
          transition: transform 0.2s ease;
        }
      }
    }
    @media (max-width: 624px) {
      .portalList {
        flex-direction: column;
        .portalBox {
          width: 100%;
          &:first-of-type {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  .showPublicBox {
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;

    .showPublicData {
      display: flex;
      justify-content: flex-start;

      .showPublicDataButton {
        background-color: var(--public-custom-header-bg);
        color: var(--white);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        margin-top: 0.5rem;
        margin-right: 1rem;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        &::after {
          content: '';
          background-image: url('/views/_assets/images/logos/logo.png') !important;
          background-color: var(--card-item-bg);
          background-size: 50%;
          background-repeat: no-repeat;
          background-position: 150% 50%;
          bottom: 0;
          left: 0;
          opacity: 0.1;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          border-radius: 5px;
        }
        p {
          text-align: center;
          margin-bottom: 1rem;
          font-size: 1.5rem;
        }
        &:hover {
          box-shadow: var(--card-item-box-shadow-hover);
          transform: scale(1.02, 1.02);
          transition: transform 0.2s ease;
        }
        .showPublicDataButtonImg {
          opacity: 0.8;
        }
      }
    }
  }
}
