@import '_styles/mixins';
.tooltipButton {
  border-radius: 50%;
  width: 0.6em !important;
  height: 0.6em !important;
  font-size: 12pt !important;
  color: var(--datatable-header-info-button-color) !important;
  margin-left: 0.4rem !important;
  background-color: var(--white) !important;
  &:focus {
    box-shadow: var(--white) !important;
  }
  span:nth-of-type(1) {
    left: 46% !important;
    margin-top: -0.5em !important;
    margin-left: -0.48em !important;
  }
  span:nth-of-type(2) {
    font-size: x-small;
    padding: 0.25em !important;
  }
}

.maxWidth {
  max-width: 100vw;

  @include for-phone-landscape-up {
    max-width: calc(100vw - 100px);
  }

  @media (min-width: 500px) {
    max-width: calc(100vw - 150px);
  }

  @media (min-width: 700px) {
    max-width: calc(100vw - 200px);
  }

  @media (min-width: 800px) {
    max-width: calc(100vw - 250px);
  }
  @media (min-width: 850px) {
    max-width: calc(100vw - 300px);
  }

  @include for-tablet-landscape-up {
    max-width: calc(100vw - 350px);
  }

  @media (min-width: 950px) {
    max-width: calc(100vw - 400px);
  }

  @include for-desktop-up {
    max-width: calc(100vw - 450px);
  }

  @include for-big-desktop-up {
    max-width: calc(100vw - 500px);
  }
}
