.divWebForm {
  display: flex;
  margin: 5px !important;
}
.formColumn {
  margin: 5px;
  /* width: auto; */
  text-align: center;
}
.inputColumn {
  width: auto !important;
}
.divRowsWebForms {
  display: flex;
}
.divColumnHeader {
  display: flex;
  width: 100%;
}
.columnHeader {
  width: 100%;
  text-align: center;
}
.headersLeft {
  width: 20%;
}
.tdInputFields {
  width: 10%;
}
.kColumn {
  width: 1%;
}
.disabledInput {
  background: #dddddd !important;
}
.webFormWrapper {
  padding-bottom: 4rem;
}
