.webFormWrapper {
  padding-bottom: 4rem;
}
.columnTitle {
  border-radius: 5px;
}
.columnHeaders {
  background: aliceblue;
}
.rowTitle {
  border-radius: 3px;
  background: aliceblue;
  font-weight: bold;
  padding: 10px;
}
.disabledInput {
  background: var(--blue-5) !important;
}
.webFormSpinner {
  top: 0 !important;
}
