.header {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  width: 100%;
}
.header > span {
  display: flex;
  font-size: 10pt;
  width: 14%;
}

.dataflowInput {
  border-bottom: var(--inputtext-border) !important;
  height: 2.5em;
  color: var(--floating-label-color) !important;
}

.inputFilter {
  border-left: 0 !important;
  border-radius: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  width: 100% !important;
}

.inputFilter:enabled:focus,
.inputFilter:focus {
  box-shadow: 0 0 0 0 var(--blue-120) !important;
}

.cancelIcon {
  font-size: 12pt !important;
  height: 2.1em !important;
}

.orderIcon {
  font-size: 16pt !important;
  // margin-top: 0.4rem !important;
  opacity: 0.7;
  height: 1.6em !important;
}

.orderIcon:hover {
  opacity: 1;
}

.orderIcon:enabled:focus {
  box-shadow: 0 0 0 0 var(--white) !important;
}

.orderIcon:enabled:active,
.orderIcon:enabled:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}

.multiselectFilter {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  color: var(--floating-label-color) !important;
  width: 100% !important;
  padding-left: 0em;
  height: 2.5em;
  border-bottom: var(--inputtext-border) !important;
}

.statusBox {
  border-radius: 3px;
  color: white;
  font-size: 10pt;
  font-weight: 600;
  padding: 4px;
}

.draft {
  background-color: rgba(#6565a8, 0.9);
}

.design {
  background-color: rgba(#c2c8cf, 0.8);
  color: black;
}

.reporter {
  background-color: rgba(#6565a8, 0.9);
}

.requester {
  background-color: rgba(#c2c8cf, 0.8);
  color: black;
}

.p-calendar {
  width: 100% !important;
}

.drashInput {
  color: red !important;
}

.calendarFilter {
  border: none !important;
}

.calendarFilterBorder {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: none !important;
  border-bottom: var(--inputtext-border) !important;
}
