.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  width: 100%;
  justify-content: space-between;

  > span {
    display: flex;
    flex-direction: row;
    font-size: 10pt;
    justify-content: space-between;
    width: 14%;
  }

  .dataflowInput {
    border-bottom: var(--inputtext-border) !important;
    height: 2.5em;
    color: var(--floating-label-color) !important;

    .inputFilter {
      border-bottom: 0 !important;
      border-left: 0 !important;
      border-radius: 0 !important;
      border-right: 0 !important;
      border-top: 0 !important;
      width: 100% !important;

      &:focus,
      &:enabled:focus {
        box-shadow: 0 0 0 0 var(--blue-120) !important;
      }
    }

    .cancelIcon {
      font-size: 12pt !important;
      height: 2.1em !important;
    }

    .multiselectFilter {
      border-bottom: var(--inputtext-border) !important;
      border-left: 0 !important;
      border-radius: 0 !important;
      border-right: 0 !important;
      border-top: 0 !important;
      color: var(--floating-label-color) !important;
      font-size: 9pt !important;
      height: 2.8em;
      padding-left: 0em;
      width: 100% !important;

      .statusBox {
        border-radius: 3px;
        color: white;
        font-size: 10pt;
        font-weight: 600;
        padding: 4px;
      }

      .draft {
        background-color: rgba(#6565a8, 0.9);
      }

      .design {
        background-color: rgba(#c2c8cf, 0.8);
        color: black;
      }

      .reporter {
        background-color: rgba(#6565a8, 0.9);
      }

      .requester {
        background-color: rgba(#c2c8cf, 0.8);
        color: black;
      }
    }
  }

  .icon {
    font-size: 16pt !important;
    opacity: 0.7;
    height: 1.6em !important;

    &:hover {
      opacity: 1;
    }

    &:enabled:focus {
      box-shadow: 0 0 0 0 var(--white) !important;
    }

    &:enabled:active,
    &:enabled:hover {
      background-color: transparent !important;
      border-color: transparent !important;
    }
  }
}

:global .p-datepicker {
  left: -5.5rem !important;
}
