.Footer {
  position: absolute;
  /* display: none; */
  bottom: 0;
  text-align: center;
  color: var(--c-black-300);
  padding: 1rem 0;

  width: 100%;
  /* margin-top: 2em; */
  margin-left: 45px;
  background-color: var(--bg);
}

/* .Footer:hover {
  width: 100%;
  bottom: 0;
  transition: 0.5s;
} */

.Footer a {
  color: var(--main-font-color);
  margin: 0.5rem;
  font-weight: normal;
  font-size: 0.9rem;
}

.Footer a:hover {
  color: var(--c-black-200);
  text-decoration: none;
}

.FooterExpanded {
  display: block;
}

.FooterCollapsed {
  display: none;
}