.Footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: var(--blue-120);
  color: white;
  padding: 1rem 0;
  width: 100%;
  margin-top: 2em;
  margin-left: 45px;
}

.Footer a {
  color: white;
  margin: 0.5rem;
  font-weight: 300;
  font-size: 0.9rem;
}

.Footer a:hover {
  color: white;
  text-decoration: none;
}
