.paragraphTitle {
  display: table-cell;
  font-size: 2rem;
  color: var(--subtitle-color);
  margin: 0px;
  font-weight: bold;
}

.paragraph {
  font-size: 1rem;
  color: var(--title-color);
  margin: 0px;
  font-weight: 400;
}