.positioning {
  top: 0 !important;
}

.schemaWrapper {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 1rem 0;
}
.schemaWrapper > div {
  min-width: 25%;
  max-width: 50%;
}
.schemaWrapper > div {
  margin-right: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
  box-shadow: 0 1px 0.2rem rgba(0, 0, 0, 0.6);
}
.selectedLinkWrapper {
  margin-top: 1rem;
}
.selectedLinkWrapper span:first-child {
  font-weight: bold;
}

.schemaWrapper::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.schemaWrapper::-webkit-scrollbar-track {
  background: var(--bg);
}

.schemaWrapper::-webkit-scrollbar-thumb {
  background: var(--gray-75);
}

.schemaWrapper::-webkit-scrollbar-thumb:hover {
  background: var(--gray-50);
}
