.actionTemplate {
  display: flex;
}
.addAnotherOne {
  font-weight: bold;
  margin: 0 1.5rem 0 0.5rem;
  cursor: pointer;
}
.addAnotherOneWrapper {
  display: inline-block;
  vertical-align: middle;
}
.addEditRecordDialog {
  width: 35vw !important;
}
.fieldDisabled {
  cursor: default;
}
.chips {
  display: flex !important;
  justify-content: center;
}
.columnInfoButton {
  border-radius: 50% !important;
  width: 0.7em !important;
  height: 0.7em !important;
  font-size: 12pt !important;
  color: var(--datatable-header-info-button-color) !important;
  margin-left: 0.4rem !important;
  background-color: var(--white) !important;
}
.columnInfoButton > span {
  left: 46% !important;
  margin-top: -0.5em !important;
  margin-left: -0.48em !important;
}
.fieldColumn {
  width: 95px;
}
.fieldInfoDialogWrapper {
  max-width: 80vw;
  max-height: 80vh;
  width: 35vw !important;
}
.iconTooltipLevelError {
  width: 1.5em;
}
.iconTooltipWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.invisibleHeader {
  display: none;
}
.itemTable {
  margin: 1rem;
}
.itemTable > div > table {
  width: 99%;
}
.readOnlyFields div {
  opacity: 0.5;
}
.requiredTemplateCheck {
  float: center;
  color: var(--treeview-table-icon-color);
}
.requiredTemplateWrapper {
  display: flex;
  justify-content: center;
}
.saveButton {
  margin-top: 0.5rem !important;
}
.validationCol {
  width: 15px;
}
