.content {
}

.title {
	composes: heading-3 from global;
	border-bottom: 1px solid var(--grey-75);
	margin-bottom: 1rem;
}
.title h3 {
	color: var(--grey-75);
	margin: 0px;
}

.section {
	margin-bottom: 1rem;
	padding: 0.5rem 0;
}

.newContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.newContainer input {
	width: 75%;
	font-size: 1rem;
	border: 1px solid var(--grey-75);
}

.listContainer ul {
	padding: 0 0.5rem;
}
