@import '_styles/mixins';

.titleBar {
  display: flex;
  border-bottom: 1px solid var(--c-gray-25);
  margin: 20px 0;
  justify-content: space-between;
  .title_wrapper {
    .title {
      margin: 0;
      color: var(--main-font-color);
    }
  }
}

.dialog :global .p-dialog-content {
  padding-bottom: 0 !important;
}

.isReleasableLabel,
.restrictFromPublic,
.showPublicInfo {
  padding-left: 0.5rem;
  a {
    color: var(--main-font-color);
    &:hover {
      color: var(--main-font-color);
      cursor: pointer;
    }
  }
}

.pointer {
  cursor: pointer;
}

.buttonLeft {
  float: left;
}

.exportImportMenu {
  user-select: none;
  width: auto !important;
}

.disabledLabel {
  color: var(--c-gray-65);
}

.restrictFromPublicNote {
  font-style: italic;
  margin-top: 1.5em;
}
