.userDesignContainer {
  width: 65%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgb(212, 212, 212);
  -webkit-box-shadow: 6px 8px 9px 1px rgba(230, 227, 230, 1);
  -moz-box-shadow: 6px 8px 9px 1px rgba(230, 227, 230, 1);
  box-shadow: 6px 8px 9px 1px rgba(230, 227, 230, 1);
  text-align: left;
}

.userThemeTitle {
  color: var(--c-corporate-blue);
  font-weight: bold;
  margin-top: 1.4rem;
  font-size: 1.5em;
  margin-left: 1rem;
}

.dropdownFieldType {
  margin-left: 1rem;
}
