.userDesignContainer {
  width: 65%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid var(--box-shadow);
  -webkit-box-shadow: 6px 8px 9px 1px var(--box-shadow);
  -moz-box-shadow: 6px 8px 9px 1px var(--box-shadow);
  box-shadow: 6px 8px 9px 1px var(--box-shadow);
  text-align: left;
}

.userUploadImg {
  margin-top: 4rem;
}

.userThemeTitle {
  font-weight: bold;
  margin-top: 1.4rem;
  font-size: 1.5em;
  margin-left: 1rem;
  color: var(--main-font-color);
}

.dropdownFieldType {
  margin-left: 1rem;
}
