.dropDownMenu {
  position: absolute;
  bottom: 0px;
  right: -52px;
  cursor: pointer;
  font-size: 0.8rem;
  border: 1px solid var(--c-black-200);
  background-color: var(--white);
  width: 235px !important;
  border-radius: 2%;
  z-index: 3003;
  color: var(--c-black-400);
  border: 1px solid var(--c-custom-gray);
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
  font-size: 0.9rem;
  opacity: 0;
  user-select: none;
}
.dropDownMenu ul {
  list-style: none;
  padding: 0px;
}

.dropDownMenu ul li a {
  padding: 0.85em 0.45em !important;
  color: var(--main-font-color);
}
.dropDownMenu ul li a:hover {
  color: var(--main-font-color);
  background-color: rgba(0, 0, 0, 0);
}

.dropDownMenu ul li a i {
  padding-left: 0px !important;
  /* margin-right: 0.5rem; */
}

.menuItemDisabled {
  color: var(--c-black-300) !important;
}
.menuItemDisabled:hover {
  color: var(--c-black-300);
}

.separator {
  font-weight: bolder !important;
  background: var(--gray-25) !important;

  > span {
    margin-left: 0.5rem;
  }
}
