@import '_styles/mixins';

.actionTemplate {
  display: flex;
  justify-content: center;
}
.editRowButton {
  border: 1px solid var(--c-custom-gray) !important;
  @include shadow-0em;
  margin-left: 3px !important;
}
.deleteRowButton {
  border: 1px solid var(--c-custom-gray) !important;
  @include shadow-0em;
  color: var(--errors) !important;
  margin-left: 3px !important;
}
