.slider-enter {
  height: 0px;
}

.slider-enter.slider-enter-active {
  height: 100px;
  -webkit-transition: height 0.3s ease;
}

.slider-exit.slider-exit-active {
  height: 100px;
  -webkit-transition: height 0.3s ease;
}
