.bigButton {
  border-radius: 10px;
  font-size: 2rem;
  max-width: fit-content;
  cursor: pointer;
  margin-right: 1rem !important;
}

.bigButton > a {
  padding: 2.3rem 2.7rem;
}

.dataCollection {
  background-color: var(--c-corporate-blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dataCollection a {
  color: var(--white);
  border-radius: 10px;
}
.dataCollection a:hover {
  color: var(--white);
  background-color: var(--c-blue-400);
}

.dataset {
  background-color: var(--c-corporate-blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dataset a {
  color: var(--white);
  border-radius: 10px;
}
.dataset a:hover {
  color: var(--white);
  background-color: var(--c-blue-400);
}

.designDatasetSchema {
  background-color: var(--c-blue-green);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.designDatasetSchema a {
  color: var(--white);
  border-radius: 10px;
}

.designDatasetSchema a:hover {
  color: var(--white);
  background-color: var(--c-aquamarine);
}

.defaultBigButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.defaultBigButton a {
  color: var(--white);
  border-radius: 10px;
}

.defaultBigButton a:hover {
  background-color: var(--c-orange-300);
  color: var(--white);
}

.dashboard {
  background-color: var(--c-purple-400);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.dashboard a {
  color: var(--white);
  border-radius: 10px;
}
.dashboard a:hover {
  background-color: var(--c-purple-300);
  color: var(--white);
}
.newItem {
  background-color: var(--c-blue-300);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.newItem a {
  color: var(--white);
  border-radius: 10px;
}
.newItem a:hover {
  background-color: var(--c-blue-200);
  color: var(--white);
}

.caption {
  text-align: center;
  margin: 0.75rem 0.5rem;
  word-wrap: break-word;
  max-width: 100px;
  box-sizing: content-box;
}
.datasetItem :global .p-button.p-button-icon-only .p-button-text {
  padding: 0px !important;
  height: 0px !important;
}

.inputText {
  word-wrap: break-word;
  max-width: fit-content;
  margin: 0.25rem !important;
}

:global .svg-inline--fa {
  min-width: 2rem;
}
