.dropdownFilter {
  position: absolute;
  cursor: pointer;
  font-size: 0.8rem;
  border: 1px solid var(--c-black-200);
  background-color: var(--white);
  min-width: 250px;
  max-height: 27.5vh;
  overflow-y: auto;
  border-radius: 2%;
  z-index: 1000;
  padding: 0 0.8rem;
  color: var(--c-black-400);
  border: 1px solid var(--c-custom-gray);
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
  font-size: 0.9rem;
  opacity: 0;
  user-select: none;
  ul {
    list-style: none;
    padding: 0px;
    li {
      padding: 0.2rem;
      a {
        color: var(--c-black-400);
        &:hover {
          color: var(--c-black-400);
          background-color: rgba(0, 0, 0, 0);
        }
        svg {
          margin-right: 0.5rem;
        }
      }
      &:last-child {
        margin-bottom: 0.5rem;
      }
    }
  }
  .dropdownFilterIcon {
    margin-right: 0.5rem !important;
  }

  .isNotChecked {
    color: var(--c-black-300) !important;
  }
  .selectNone {
    display: flex;
    user-select: none;
  }
  .checkboxIcon {
    font-size: 14pt;
  }
}
