.noObligations {
  color: var(--button-secondary-transparent-color-hover);
  font-weight: 450;
  margin: 2rem 1rem;
}

.checkColumn {
  text-align: center;
}

.titleColumn {
  display: flex;
  justify-content: space-between;

  .linkIcon {
    color: var(--main-color-font);
    cursor: pointer;
    float: center;
  }
}

.emptyTableHeader {
  :global .p-column-title {
    display: none;
  }
}
