.content {
  display: flex;
  margin-top: 6px;
  flex: auto;
  .repContainer {
    display: flex;
    flex-direction: column;
    h1 {
      margin-top: 2rem;
      font-size: 2.25rem;
    }

    .dataflowsList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      padding-bottom: 4rem;

      @media (max-width: 1349px) {
        justify-content: space-between;
      }

      .noDataflows {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        font-size: 1.4rem;
        font-weight: bold;
        height: 40vh;
        width: 100%;
      }
    }
  }
}
