.wrap {
  // display: flex;
  .title {
  }

  .dataflowsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin: auto;

    @media (max-width: 1349px) {
      justify-content: space-between;
    }
  }
}
