.content {
  margin-top: 6px;

  .dataflowsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin: auto;
    padding-bottom: 4rem;

    @media (max-width: 1349px) {
      justify-content: space-between;
    }
  }
}
