#mainLayoutContainer {
  position: relative;
  top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
}
.mainContent {
  background-color: var(--bg);
}
.disclaimer {
  padding: 0.5em;
  line-height: 1.5;
  background-color: #f8b7bd;
  color: #212121;
  text-align: center;
  font-weight: 700;
}
