.defaultSeverityContainer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.messageContainer {
  background-color: var(--primary-color-lighter);
  padding: 1rem;
  border-radius: 4px;
  border-left: 4px solid var(--primary-color);
  
  p {
    margin: 0;
    color: var(--text-color);
    font-weight: 500;
  }
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
  label {
    font-weight: bold;
    color: var(--text-color);
  }
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-top: 1rem;
}