.container {
  border: none;
  background-color: var(--c-lilac-100);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  // min-height: 225px;
  border-radius: 5px;
  height: 238px;
  &.accepted {
    .containerLink {
      width: 100%;
      height: 100%;
      flex: auto;
      display: grid;
      grid-template-columns: 4% 76% 16%;
      grid-template-rows: 15% 50% 15%;
      row-gap: 1rem;
      column-gap: 1.5rem;
      color: var(--gray-110);
      padding: 1rem;
      .card_component {
        &_btn {
          flex-direction: row;
          justify-content: center;
          span.btn {
            &:first-child {
              margin-right: 2rem;
            }
          }
        }
      }

      @media (max-width: 767px) {
        padding: 0.5rem;
        row-gap: 0.5rem;
        column-gap: 0.5rem;
        grid-template-columns: 70% 30%;
        grid-template-rows: 10% 70% 15%;
        padding: 0.5rem;
      }
    }
    &.delivered {
      background-color: var(--c-orange-300);
      &:hover {
        background-color: #d9a220;
      }
    }
    &.DESIGN {
      background-color: var(--c-lilac-100);
      &:hover {
        background-color: #c2c8cf;
      }
    }
    &.DRAFT {
      background-color: var(--c-lilac-300);
      &:hover {
        background-color: #6565a8;
      }
      .containerLink {
        color: var(--white);
        background-image: url('/assets/img/logo-blanco.png');
        .deliveryDate {
          color: var(--white);
        }
      }
    }
  }
  &:first-of-type {
    margin-top: 2rem;
  }
  &:last-child {
    margin-bottom: 4rem;
  }
}
.wrap_card_component {
  &:last-child {
    margin-bottom: 5rem;
  }
}

.containerLink {
  background-image: url('/assets/img/logo-gris.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 150% 50%;
  .icon {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0px;
    font-size: 2.5rem;
    opacity: 0.6;
  }

  .deliveryDate {
    grid-column: 3/3;
    grid-row: 1/2;
    color: var(--gray-110);
    font-size: 1rem;
    font-weight: bold;
    span {
      font-weight: normal;
    }
  }

  .role {
    grid-row: 1/2;
    grid-column: 2/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    p {
      margin: 0px;
      font-weight: bold;
      span {
        font-weight: normal;
      }
    }
  }

  .text {
    grid-row: 2/3;
    grid-column: 2/3;
    .title {
      margin: 0 0 0.5rem 0 !important;
      font-size: 1.62rem;
    }
  }

  .status {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p {
      margin: 0px;
      font-weight: bold;
      span {
        font-weight: normal;
      }
    }
  }

  .toolbar {
    grid-column: 3/4;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    opacity: 0.6;
    span {
      -moz-user-select: none;
      user-select: none;
      -webkit-user-select: none;
      font-size: 1.5rem;
      color: var(--gray-70);
      font-size: 2rem;
      &:first-of-type {
        margin-right: 1rem;
      }
    }
    .rep_button {
      background-color: var(--blue-120);
      color: var(--white);
      border: 0px;
      margin: 0 0 0.5rem 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-width: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      font: normal normal 400 1rem/1.25rem Arial, sans-serif;
      font-weight: 600;
      padding: 0.75rem 1rem;
      text-decoration: none;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
        background-color: var(--white);
        border: 2px solid var(--blue-120);
        color: var(--blue-120);
        padding: calc(0.75rem - 2px) calc(1rem - 2px);
      }
      &:last-child {
        margin: 0px;
      }
    }
    i {
      font-size: 3.5em !important;
      color: var(--blue-120);
      fill: var(--blue-120);
    }
  }
  @media (max-width: 1024px) {
    .text {
      grid-column: 2/4;
    }
  }
  @media (max-width: 767px) {
    .icon {
      display: none;
    }
    .deliveryDate {
      grid-column: 1/3;
      font-size: 0.9rem;
    }
    .status {
      grid-column: 1/2;
      justify-content: center;
      font-size: 0.9rem;
    }
    .role {
      grid-column: 2/2;
      justify-content: center;
    }
    .toolbar {
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      span {
        font-size: 1.5rem;
      }
    }
    .text {
      grid-column: 1/3;
      .title {
        font-size: 0.9rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
}
