.positioning {
  position: sticky !important;
}
.colorPicker {
  margin-left: 3px;
}
.colorPicker > input {
  font-size: 12px !important;
}
.colorPickerWrap {
  border: 1px solid var(--gray-50);
  padding: 20px;
}
.colorPickerItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.colorPickerItem:nth-of-type(2) {
  margin: 0 1rem;
}
.fieldsetContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.chart_released {
  padding-top: 1rem;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
