.VisibleHeader {
  display: none;
}
.actionTemplate {
  display: flex;
}
.editRowButton {
  border: 1px solid #c8c8c8 !important;
  box-shadow: 0 0 0 0em #004494 !important;
  /* color: var(--errors) !important; */
  margin-left: 3px !important;
}
.deleteRowButton {
  border: 1px solid #c8c8c8 !important;
  box-shadow: 0 0 0 0em #004494 !important;
  color: var(--errors) !important;
  margin-left: 3px !important;
}
