.VisibleHeader {
  display: none;
}
.actionTemplate {
  display: flex;
}
.editRowButton {
  border: 1px solid var(--c-custom-gray) !important;
  box-shadow: 0 0 0 0em var(--blue-120) !important;
  /* color: var(--errors) !important; */
  margin-left: 3px !important;
}
.deleteRowButton {
  border: 1px solid var(--c-custom-gray) !important;
  box-shadow: 0 0 0 0em var(--blue-120) !important;
  color: var(--errors) !important;
  margin-left: 3px !important;
}
.dataViewerToolbar {
  border-top: 1px solid var(--gray-25) !important;
  border-left: 1px solid var(--gray-25) !important;
  border-right: 1px solid var(--gray-25) !important;
  border-bottom: 0px !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.iconTooltipWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.filterInactive {
  opacity: 0.25;
}
