.buttonRight {
  display: flex;
  justify-content: flex-end;

  & button {
    margin: 1rem 0 0.5rem 0.5rem;
  }
}
.container {
  min-width: 400px;
  max-width: 500px;
}
.inputMaskWrapper {
  display: flex;
  margin-top: 0.5rem;

  .label {
    padding-left: 0.5rem;
    align-self: center;
  }
}

.error {
  border-color: red !important;
  box-shadow: red !important;
}

.dropdown {
  margin-left: 0.5rem;
}
