.container {
  width: fit-content !important;
  min-width: 335px;
  display: flex;
  flex-direction: column;

  .buttonRight {
    margin-top: 0.5rem;
    width: 100% !important;
  }

  .inputMaskWrapper {
    display: flex;
    margin-top: 0.5rem;
    width: 100%;

    .timeInput {
      width: 6rem !important;
    }

    .error {
      border-color: red !important;
      box-shadow: red !important;
      &:focus {
        border-color: red !important;
        box-shadow: red !important;
      }
    }

    .utc {
      justify-content: flex-end;
      display: flex;
      flex-grow: 2;

      .label {
        // padding-left: 5rem;
        align-self: center;
      }

      .dropdown {
        margin-left: 0.5rem;
        width: 5rem !important;
        min-width: 11rem !important;
      }
    }
  }
}
