.buttonRight {
  display: flex;
  justify-content: flex-end;
  & button {
    margin: 1rem 0 0.5rem 0.5rem;
  }
}

.container {
  // min-width: 400px;
  // max-width: 500px;
}

.timeInput {
  width: 6rem !important;
}

.inputMaskWrapper {
  display: flex;
  margin-top: 0.5rem;

  .label {
    padding-left: 0.5rem;
    align-self: center;
    width: max-content !important;
  }
}

.error {
  border-color: red !important;
  box-shadow: red !important;
}

.dropdown {
  margin-left: 0.5rem;
  width: 5rem !important;
  min-width: none !important;
}
