.contentWrap {
  border-radius: 10px;
  height: 100%;
  margin-top: 1rem;
  width: 100%;

  .title {
    align-items: center;
    border-radius: 10px;
    border: 0.1rem solid var(--gray-25);
    color: var(--title-color);
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 1rem;
  }

  .nonExistTable {
    color: var(--errors);
  }
}
