.primaryBtn {
  composes: rp-btn from global;
  composes: primary from global;
}
.defaultBtn {
  composes: rp-btn from global;
  composes: default from global;
}
.btnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btnWrapper .primaryBtn,
.btnWrapper .defaultBtn {
  width: 49%;
}
