.content {
  background: var(--gray-10);
  padding: 2rem 2rem 2rem 2rem;
  position: relative;

  .actionButtons {
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;

    .collapse,
    .delete {
      border-radius: 5px;
      border: 1px solid var(--c-custom-gray);
      margin: 0 0.5rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .delete {
      color: var(--errors);
    }
  }
  .attachmentWrapper {
    button {
      margin-right: 0.5rem;
    }
  }
  .field {
    margin-bottom: 2rem;
    :global .p-multiselect {
      width: 100%;
      padding: 0.2rem 0;
    }
    :global .p-dropdown {
      width: 100%;
    }
    :global .p-inputtext {
      padding: 1rem 0.5rem;
    }
    label {
      display: inline-block;
      max-width: 75%;
      margin-bottom: 0.5rem;
    }

    .content {
      display: flex;
    }

    .template {
      width: 75%;

      .nonExistField {
        color: var(--errors);
      }
    }
    .infoButtonWrapper {
      border-radius: 5px;
      border: 0.1rem solid var(--gray-25);
      padding: 1rem;
      display: flex;
      align-items: center;
      .infoButton {
        background-color: var(--white) !important;
        border-radius: 50% !important;
        color: red !important;
        font-size: 12pt !important;
        height: 0.7em !important;
        margin-left: 0.4rem !important;
        width: 0.7em !important;
        margin-right: 0.25rem;

        > span {
          left: 46% !important;
          margin-left: -0.48em !important;
          margin-top: -0.5em !important;
        }

        &:focus {
          box-shadow: none !important;
        }
      }
    }
    :global .webform-validationErrors {
      width: 2em !important;
      &:first-of-type {
        margin-left: 1rem !important;
      }
      :global .pi {
        font-size: 1.8em;
      }
    }
  }
}

.subTable {
  // border: 0.1rem solid var(--gray-25);
  // padding: 1rem;
  border-radius: 10px;
  height: 100%;
  margin: 4rem 0 2rem 0;
  width: 100%;
  border: 1px solid var(--gray-25);
  padding: 1rem;

  .title {
    align-items: center;
    border-radius: 10px;
    border: 0.1rem solid var(--gray-25);
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 1rem;
  }

  .nonExistTable {
    color: var(--errors);
  }

  .content {
    border: 1px solid var(--gray-25);
    margin-bottom: 0.5rem;
    padding-bottom: 0;
  }
}
