@import '_styles/mixins';

/*Default css for options from MultiSelect when nestedOptions hasn't category*/
.statusBox {
  border-radius: 3px;
  color: var(--main-font-color);
  font-size: 10pt;
  font-weight: 600;
  padding: 4px;
}

.input {
  display: flex;
  color: var(--font-filters);
  height: 2.5em;
  font-size: 10pt;

  /*Show the label from multiSelect*/
  .label {
    clip: auto;
    height: auto;
    overflow: visible;
    width: 90%;
  }

  /*Hide border to inputText*/
  .inputFilter {
    background: transparent;
    border: 0;
    border-bottom: var(--inputtext-border);
    width: 100;

    &:focus,
    &:enabled:focus {
      box-shadow: 0 0 0 0 var(--c-blue-120) !important;
    }
  }
  .inputFilter::placeholder {
    font-style: normal;
    font-size: 10pt;
  }

  /*Hide borders to multiSelect*/
  .multiselectFilter {
    border: 0;
    border-bottom: var(--inputtext-border);
    color: var(--floating-label-color) !important;
    font-size: 10pt !important;
    height: 2.1rem;
    padding-left: 0em;
    width: 85% !important;

    label {
      color: var(--font-filters);
    }

    li {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
  .selectHeader {
    border-radius: 3px;
    color: var(--floating-label-color);
    font-size: 9pt;
    font-weight: 500;
    padding: 4px;
  }
  // .labelDown {
  //   font-size: 10pt !important;
  //   top: 50% !important;
  //   color: var(--font-filters);
  // }

  // .label {
  //   color: var(--font-filters);
  // }
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  width: 100%;
  align-items: baseline;

  @include for-phone-only {
    justify-content: flex-start;
    flex-wrap: wrap;
    .input {
      margin-bottom: 1.5rem;
    }
  }
  @include for-tablet-portrait-up {
    flex-wrap: wrap;
    .input,
    .inputCheckbox {
      width: 50%;
      margin-bottom: 1.5rem;
    }
  }
  @include for-desktop-up {
    justify-content: space-between;
    flex-wrap: wrap;
    .input,
    .inputCheckbox {
      width: 25%;
    }
  }
  @include for-big-desktop-up {
    flex-wrap: nowrap;
    .input,
    .inputCheckbox {
      width: 100%;
      margin-bottom: 0;
    }
  }
}

.dataflowsListFilters {
  @extend .header;

  .multiselectFilter {
    width: 100% !important;
  }

  @include for-phone-only {
    .buttonWrapper {
      width: 100%;
    }
  }
  @include for-tablet-portrait-up {
    .buttonWrapper {
      width: 50%;
    }
  }

  @include for-big-desktop-up {
    flex-wrap: wrap;
    .input,
    .inputCheckbox {
      width: 20%;
      margin-bottom: 1.5rem;
    }

    .buttonWrapper {
      width: 20%;
    }
  }
}
