.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-basis: max-content;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 10em;
  padding: 3em 0;
  label {
    min-width: 10%;
  }
  .label {
    padding-right: 2em;
  }
  .textarea {
    background-color: var(--gray-5);
    border-radius: 4px 0px 0px 4px;
    border: none;
    box-shadow: 0 0 0 0 Transparent;
    color: black;
    font-weight: 600;
    margin: 0;
    max-width: 22em;
    outline: none;
    text-align: center;
    width: 80%;
  }
}

.copyBtn {
  align-self: center;
  border-radius: 0px 4px 4px 0px !important;
  border: 1.5px solid var(--button-primary-bg) !important;
}
