.codelistChips {
  margin-top: 5px;
  width: 100%;
}
// .codelistChips li {
//   max-width: 100%;
// }
.codelistChips li span {
  white-space: normal;
  word-wrap: break-word;
}
.inputTitleWrapper {
  margin-bottom: 1rem;
}
.subIndex {
  font-size: 0.6rem;
}
