.nonEditableData {
  font-style: italic;
  font-weight: bold;
}

.pointWrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  > label:not(.nonEditableData) {
    max-height: 100px;
    overflow-y: scroll;
  }
}

.epsg {
  width: 5rem;
  color: var(--main-font-color);
  font-size: 0.9em;
  font-weight: bold;
}
