.block {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: flex-end;
  width: 100%;

  .dropdownFilter {
    position: relative;
    border-radius: 0px !important;
    border: 0px !important;
    font-size: 0.8333rem !important;
    height: 3em;
    width: 100%;
    box-shadow: none !important;
//changes needed to make it look like the old version

    :global(.p-dropdown-label) {
      padding-top: 1.15rem !important;
      padding-bottom: 0px !important;
      color: var(--inputtext-color) !important;
      display: block !important;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }


    :global(.p-dropdown-clear-icon) {
      position: absolute !important;
      right: 2.2em !important;
      top: 50% !important;
      transform: translateY(-20%) !important;
      cursor: pointer !important;
      z-index: 10 !important;
      pointer-events: auto !important;
    }


    :global(.p-dropdown-trigger) {
      width: 2em !important;
      z-index: 1 !important;
    }

    .label {
      clip: auto;
      height: auto;
      overflow: visible;
      width: 90%;
      top: 0.7em;

      label {
        margin-top: -0.7em;
      }
    }

    > div > div > ul > li {
      margin: 0.5em 0 !important;
    }
  }

  .elementFilter {
    border-bottom: var(--inputtext-border) !important;
  }

  .elementFilterSelected {
    border-bottom: var(--active-filter-border) !important;
    box-shadow: var(--active-filter-shadow) !important;
  }
}

@media (max-width: 1695px) {
  .block {
    height: 3rem;
  }
}

.dropdownFilterWrapper {
  padding-left: 0px !important;
}

.noSortFilterWrapper {
  padding-left: 2.5em;
}