.block {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: flex-end;
  width: 100%;

  .inputFilter {
    position: relative;
    border-radius: 0px !important;
    border: 0px !important;
    color: var(--floating-label-color) !important;
    font-size: 0.8333rem !important;
    height: 2.25rem;
    padding-left: 0em;
    width: 100%;

    &:focus,
    &:enabled:focus {
      box-shadow: 0 0 0 0 var(--c-blue-120) !important;
    }
    label {
      position: absolute;
      font-size: 0.8333rem !important;
      color: var(--font-filters);
    }
  }

  .inputFilter::placeholder {
    font-style: normal;
    font-size: 0.8333rem;
  }

  .elementFilter {
    border-bottom: var(--inputtext-border) !important;
    width: 100%;
    label {
      font-size: 0.8333rem;
    }
  }

  .elementFilterSelected {
    display: flex;
    width: 100%;
    border-bottom: var(--active-filter-border) !important;
    box-shadow: var(--active-filter-shadow);

    input {
      font-weight: bold !important;
      color: var(--active-filter-font) !important;
    }
  }
}

@media (min-width: 600px) {
  .block {
    width: 50% !important;
  }
}

@media (max-width: 1695px) {
  .block {
    height: 3rem;
  }
}
