.feedbackWrapper {
  display: flex;
  .dataProviderWrapper {
    margin: 0;
    vertical-align: middle;
    width: 12%;
    display: flex;
    .dataProvider {
      width: 100%;
      min-width: 8%;
      :global .p-listbox-title-wrapper {
        overflow: hidden;
      }
    }
    span {
      color: var(--main-font-color);
      font-weight: bold;
    }
    @media (max-width: 468px) {
      width: 100%;
    }
  }
  .flexBasisCustodian {
    flex-basis: 75%;
  }
  .flexBasisProvider {
    flex-basis: 100%;
  }
  .dragAndDropFileMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--feedback-drag-color);
    opacity: var(--drag-and-drop-div-low-opacity);
    font-size: 18pt;
    font-weight: bold;
  }
  .listMessagesWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    width: 50%;
    margin-left: 0.5rem;
    .sendMessageWrapper {
      align-items: center;
      display: flex;
      margin-top: 0.5rem;
      width: 100%;
      .sendMessageTextarea {
        width: 90%;
        overflow: hidden;
        &:disabled {
          border: 1px solid var(--gray-50) !important;
        }
      }
      .sendMessageButton {
        width: 10%;
        height: 48px;
        align-self: flex-start;
        @media (max-width: 320px) {
          :global .pi-comment {
            display: none;
          }
        }
      }
      .attachFileMessageButton {
        width: 8%;
        height: 48px;
        margin: 0 0.5rem;
        align-self: flex-start;
        @media (max-width: 320px) {
          :global .pi-comment {
            display: none;
          }
        }
      }
      @media (max-width: 468px) {
        .sendMessageTextarea {
          width: 70%;
        }
        .sendMessageButton {
          width: 30%;
        }
      }
    }
    .spinnerLoadingMessages {
      top: 0 !important;
      left: 0 !important;
    }
    @media (max-width: 468px) {
      width: 100%;
    }
  }
  @media (max-width: 468px) {
    flex-direction: column;
  }
}
.helpdeskMessage {
  margin: 1rem;
  font-weight: bold;
  font-style: italic;
}
