.stepsWrapper {
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
}

.stepList {
  width: 100%;
  .step {
    list-style-type: none;
    width: 20%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    .stepLabel {
      color: var(--step-progress-bar-label-color);
    }
    .activeCompleted {
      background-color: var(--step-progress-bar-activeCompleted-bg-color);
      animation: check 1s forwards;
      svg {
        color: var(--step-progress-bar-activeCompleted-color);
        font-weight: bold;
      }
    }
    .activeIncompleted {
      background-color: var(--step-progress-bar-activeIncompleted-bg-color);
      svg {
        color: var(--step-progress-bar-activeCompleted-color);
        font-weight: bold;
      }
    }
    .inactive {
      background-color: var(--step-progress-bar-inactive-bg-color);
      svg {
        color: var(--step-progress-bar-inactive-color);
      }
    }
    .iconWrapper {
      width: 24px;
      height: 24px;
      line-height: 24px;
      border: var(--step-progress-bar-icon-border);
      display: block;
      text-align: center;
      margin: 0 auto 3px auto;
      border-radius: 50%;
      position: relative;
      z-index: 2;
      svg {
        font-size: 11pt;
        margin-left: -6px;
      }
    }
    &:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: var(--step-progress-bar-link-bg-color);
      top: 12px;
      left: -50%;
      z-index: 0;
    }
    &:first-child:after {
      content: none;
    }
    &.stepActive {
      &:after {
        animation: appear 1s forwards !important;
      }
    }
  }
}

@keyframes appear {
  0% {
    background-color: var(--step-progress-bar-link-bg-color);
  }
  100% {
    background-color: var(--step-progress-bar-link-done-bg-color);
  }
}

@keyframes check {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0%;
  }
}
