.card {
  background-color: transparent;
  border-radius: 15px;
  box-shadow: var(--card-item-box-shadow);
  margin: 0.5rem;
  padding: 1rem;
  position: relative;
  display: block;
  width: calc(100% / 3.12);
  height: auto;
  &::after {
    content: '';
    background-image: url('/assets/images/logos/logo.png') !important;
    background-color: var(--card-item-bg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 150% 50%;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    border-radius: 15px;
  }
  .content {
    position: relative;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .text {
      h3 {
        margin: 0px;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        a {
          cursor: pointer;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          svg {
            height: 0.8rem;
            width: auto;
            margin-top: -3px;
          }
        }
      }
      h4 {
        margin: 0px;
        margin-bottom: 0.5rem;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-weight: bold;
        a {
          color: var(--main-font-color);
          cursor: pointer;
          svg {
            height: 0.8rem;
            width: auto;
            margin-top: -3px;
          }
        }
      }
    }
    .pilotScenarioAmbition {
      font-size: 1rem;
    }
    .footer {
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
    }
  }
  @media (max-width: 1349px) {
    width: 49.5%;
    margin: 0.5rem 0;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}
