@import '_styles/mixins';

.buttonWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.cancelButton {
  margin-left: 0.5rem !important;
}
.crudColumn {
  text-align: center;
}
.deleteRowButton {
  border: 1px solid var(--c-custom-gray) !important;
  @include shadow-0em;
  color: var(--errors) !important;
  margin-left: 3px !important;
}
.dialog {
  height: auto !important;
}
.editRowButton {
  border: 1px solid var(--c-custom-gray) !important;
  @include shadow-0em;
  margin-left: 3px !important;
}
.noDataWrapper {
  display: flex;
  justify-content: center;
  h4 {
    font-style: italic;
  }
}
.webLinkEditButtons {
  display: flex;
  justify-content: center;
}

.webLinksToolbar {
  border: 0px !important;
}
