.buttonWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.cancelButton {
  margin-left: 0.5rem !important;
}
.search {
  display: flex;
  flex-direction: row;
}
.searchButton {
  /* background-color: var(--form-field-bg);
  color: var(--form-field-color);
  border: 1px solid var(--white); */
}

.searchInput {
  border-right: none;
  padding: 5px;
  outline: none;
  border-radius: 3px 0 0 3px;
  background-color: var(--form-field-bg);
  color: var(--form-field-color);
}
