.wrap {
  &:last-child {
    margin-bottom: 5rem;
  }

  > h2 {
    margin-bottom: 5px;
    color: var(--main-font-color);
  }

  > p {
    font-weight: 300;
    color: var(--main-font-color);
  }

  .noDataflows {
    margin: 8rem 0.5rem;
    text-align: center;
    color: var(--button-secondary-transparent-color-hover);
    font-size: 1.2rem;
    font-weight: bold;
  }

  .pinnedSeparator {
    border-top: 4px dashed var(--main-font-color);
    margin: 2rem 0;
    border-bottom: 0;
    opacity: 0.5;
  }
}
