@import '_styles/mixins';

.crsSwitcherSplitButton {
  width: 25% !important;
  min-width: 20% !important;
  margin-left: 3rem;
  // position: absolute;
  top: 45px;
  left: 10px;
  z-index: 9999;
}

.themeSwitcherSplitButton {
  width: 20% !important;
  min-width: 20% !important;
  margin-right: 1rem;
  // position: absolute;
  top: 45px;
  left: 60px;
  z-index: 9999;
}

.mapButtonsBar {
  display: flex;
  align-items: center;
  align-content: center;
  // width: 20%;
  flex-direction: row;
  justify-content: flex-start;
}

.mapSelectMessage {
  float: left;
  font-style: italic;
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: var(--map-marker-color);
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.marker:after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
}

.selectPointButton {
  width: 20% !important;
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.pointLegendWrapper {
  display: flex;
  flex-direction: column;
}

.pointLegendItem {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
}

.pointLegendItemInfoLabel label:first-child {
  font-style: italic;
}

.pointLegendItemColour {
  width: 20px;
  height: 20px;
  border: 1px solid;
}

.pointLegendItemColourCurrent {
  background-color: #628ccc;
}

.pointLegendItemColourNew {
  background-color: #6fb638;
}

.pointLegendItemLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.pointLegendItemLabel label:first-child {
  font-weight: bold;
  margin-left: 3px;
}

.pulse {
  background: #d6d4d4;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}
.pulse:after {
  content: '';
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #00cae9;
  animation-delay: 1.1s;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }

  80% {
    transform: translateY(-10px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

.InputSwitchText {
  font-size: 1.2em;
  font-weight: bold;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 5px;
  text-shadow: 1px 0 0 var(--white), -1px 0 0 var(--white), 0 1px 0 var(--white), 0 -1px 0 var(--white),
    1px 1px var(--white), -1px -1px 0 var(--white), 1px -1px 0 var(--white), -1px 1px 0 var(--white);
  z-index: 0;
}

.tooltip {
  width: 100%;
  overflow-wrap: break-word;
}

:global body .p-inputswitch.p-inputswitch-focus .p-inputswitch-slider {
  @include shadow-0em;
}
