.goTopButton {
  position: fixed;
  bottom: 20px;
  right: 0px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #006699;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 0 4px grey;
}

.goTopButton:hover {
  color: #ffd902;
  background-color: #1f5069;
}
