.goTopButton {
  position: fixed;
  bottom: 20px;
  right: 4px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: var(--c-corporate-blue);
  color: var(--white);
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 0 4px var(--gray-50);
  :hover {
    color: var(--c-corporate-yellow);
  }
}
