.statusBox {
  border-radius: 3px;
  color: var(--main-font-color);
  font-size: 10pt;
  font-weight: 600;
  padding: 4px;
}

.blocker {
  background-color: rgba(var(--statusBox-blocker-bg), 0.8);
  color: rgba(var(--statusBox-blocker-color), 0.8);
}

.correct {
  background-color: var(--statusBox-true-bg);
  color: var(--statusBox-true-color);
}

.design {
  background-color: var(--statusBox-designer-bg);
  color: var(--black);
}

.disabled {
  background-color: var(--statusBox-false-bg);
  color: var(--statusBox-false-color);
}

.open {
  background-color: var(--statusBox-draft-bg);
  color: var(--statusBox-draft-color);
}

.draft {
  background-color: var(--statusBox-draft-bg);
  color: var(--statusBox-draft-color);
}

.enabled {
  background-color: var(--statusBox-true-bg);
  color: var(--statusBox-true-color);
}

.error {
  background-color: var(--statusBox-error-bg);
  color: var(--statusBox-error-color);
}

.incorrect {
  background-color: var(--statusBox-false-bg);
  color: var(--statusBox-false-color);
}

.invalid {
  background-color: var(--statusBox-false-bg);
  color: var(--statusBox-false-color);
}

.info {
  background-color: var(--statusBox-info-bg);
  color: var(--statusBox-info-color);
}

.success {
  background-color: var(--c-growl-success-lighter-green);
  color: var(--c-growl-success-darker-green);
}
.valid {
  background-color: var(--statusBox-true-bg);
  color: var(--statusBox-true-color);
}

.warning {
  background-color: var(--statusBox-warning-bg);
  color: var(--statusBox-warning-color);
}
