.statusBox {
  border-radius: 3px;
  color: var(--main-font-color);
  font-weight: 600;
  padding: 4px;
}

.blocker,
.refused {
  background-color: rgba(var(--statusBox-blocker-bg), 0.8);
  color: rgba(var(--statusBox-blocker-color), 0.8);
}

.refused:hover {
  background-color: var(--statusBox-blocker-bg-hover);
  color: var(--statusBox-blocker-color-hover);
}

.closed {
  background-color: var(--c-gray-75);
  color: var(--c-white-color);
}

.design {
  background-color: var(--statusBox-designer-bg);
  color: var(--c-black-color);
}

.canceled_by_admin {
  background-color: rgb(253, 204, 113);
  color: rgb(185, 67, 24);
}

.canceled_by_admin:hover {
  background-color: rgb(233, 184, 93);
  color: rgb(165, 47, 14);
}

.disabled,
.failed {
  background-color: var(--statusBox-false-bg);
  color: var(--statusBox-false-color);
}

.failed:hover {
  background-color: var(--statusBox-false-bg-hover);
  color: var(--statusBox-false-color-hover);
}

.open,
.draft {
  background-color: var(--statusBox-draft-bg);
  color: var(--statusBox-draft-color);
}

.error,
.incorrect,
.invalid,
.canceled {
  background-color: var(--statusBox-error-bg);
  color: var(--statusBox-error-color);
}

.canceled:hover {
  background-color: var(--statusBox-error-bg-hover);
  color: var(--statusBox-error-color-hover);
}

.info,
.inQueue,
.queued {
  background-color: var(--statusBox-info-bg);
  color: var(--statusBox-info-color);
}

.queued:hover {
  background-color: var(--statusBox-info-bg-hover);
  color: var(--statusBox-info-color-hover);
}

.success,
.finished {
  background-color: var(--c-growl-success-lighter-green);
  color: var(--c-growl-success-darker-green);
}

.finished:hover {
  background-color: var(--c-growl-success-lighter-green-hover);
  color: var(--c-growl-success-darker-green-hover);
}

.valid,
.enabled,
.correct {
  background-color: var(--statusBox-true-bg);
  color: var(--statusBox-true-color);
}

.warning,
.warn,
.inProgress {
  background-color: var(--statusBox-warning-bg);
  color: var(--statusBox-warning-color);
}

.inProgress:hover {
  background-color: var(--statusBox-warning-bg-hover);
  color: var(--statusBox-warning-color-hover);
}
