#QCFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .body {
    overflow: auto hidden;
    .section {
      display: flex;
      margin-bottom: 2rem;
      h2 {
        font-size: 1rem;
        margin: 0;
        color: var(--title-color);
      }
      &:first-of-type {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;
        .subsection {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 10%;
          &:first-of-type {
            justify-content: space-between;
            flex-wrap: wrap;
            width: 90%;
            .field {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              width: 23%;
              margin-bottom: 1rem;
              &.errorMessage {
                width: 49%;
              }
              > label {
                margin-bottom: 0.2rem;
              }
            }
          }
          &:last-of-type {
            .field {
              &.qcActive {
                flex-direction: row;
                align-items: center;
                > label {
                  margin: 0 0.5rem 0 0;
                }
              }
            }
          }
        }
      }
      &:nth-of-type(2) {
        flex-direction: column;
        overflow-y: auto;
        ul {
          list-style: none;
          .expressionsHeader {
            display: flex;
            justify-content: flex-start;
            span {
              margin-right: 1rem;
              width: 179px;
              text-align: center;
              &:first-of-type {
                width: 53px;
                margin-right: 0;
                text-align: left;
              }
            }
          }
        }
        .qcList {
          display: flex;
          flex-direction: column;
          width: 80%;
          .qcListItem {
            display: flex;
            flex-direction: row;
            margin-bottom: 1rem;
            .groupChecker {
              margin-right: 2%;
            }
            .andOr {
              height: 32px;
              width: 100px;
              margin-right: 2%;
            }
            .operatorType {
              width: 100px;
              height: 32px;
              margin-right: 2%;
            }
            .operatorValue {
              width: 100px;
              height: 32px;
              margin-right: 2%;
            }
            .qcValue {
              width: 100px;
              height: 32px;
              margin-right: 2%;
            }
          }
        }
      }
      &.actionsButtons {
        button {
          margin-right: 0.5rem;
        }
      }
      textarea {
        background-color: transparent;
        color: var(--inputtext-color);
      }
    }
  }
  .footer {
    height: 10%;
    margin-bottom: 1rem;
    .section {
      &.footerToolBar {
        margin-bottom: 0;
        .subsection {
          width: 100%;
          &:last-of-type {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            button {
              &:first-of-type {
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
