#QCFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .body {
    overflow: auto hidden;
  }
  .footer {
    height: 10%;
  }
  .section {
    display: flex;
    margin-bottom: 2rem;
    &:first-of-type {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2rem;
      .subsection {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 20%;
        &:first-of-type {
          justify-content: space-between;
          flex-wrap: wrap;
          width: 80%;
          .field {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 23%;
            margin-bottom: 1rem;
            &.errorMessage {
              width: 75%;
            }
            > label {
              margin-bottom: 0.5rem;
            }
          }
        }
        &:last-of-type {
          .field {
            &.qcActive {
              flex-direction: row;
              align-items: center;
              > label {
                margin: 0 0.5rem 0 0;
              }
            }
          }
        }
      }
    }
    &:nth-of-type(2) {
      flex-direction: column;
      overflow-y: auto;
      ul {
        list-style: none;
        .expresionsHeader {
          display: flex;
          justify-content: flex-start;
          span {
            margin-right: 1rem;
            width: 179px;
            text-align: center;
            &:first-of-type {
              width: 53px;
              margin-right: 0;
              text-align: left;
            }
          }
        }
      }
      .qcList {
        display: flex;
        flex-direction: column;
        width: 80%;
        .qcListItem {
          display: flex;
          flex-direction: row;
          margin-bottom: 1rem;
          .groupChecker {
            margin-right: 2%;
          }
          .andOr {
            height: 32px;
            width: 100px;
            margin-right: 2%;
          }
          .operatorType {
            width: 100px;
            height: 32px;
            margin-right: 2%;
          }
          .operatorValue {
            width: 100px;
            height: 32px;
            margin-right: 2%;
          }
          .qcValue {
            width: 100px;
            height: 32px;
            margin-right: 2%;
          }
        }
      }
    }
    &.footerToolBar {
      margin-bottom: 0;
      .subsection {
        width: 50%;
        &:last-of-type {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          button {
            &:first-of-type {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}
