.webform {
  margin-bottom: 1rem;

  .toolbar {
    border: var(--general-border-style);
    font-size: 1.1rem;
    font-weight: 600;

    .headerButton {
      border-radius: 5px;
      margin: 0.3rem ;
      padding: 0.1rem;
      font-size: 1.2rem !important;
      text-align: center; 
      display: inline-block;

    }
  }
}

.spinner {
  top: 0;
}
