.codelistItem {
  font-size: 12pt;
  /* cursor: pointer; */
}

.codelistItem {
  margin: 0 1.5rem 0 0.5rem;
  padding: 1rem;
  border-top: 1px solid var(--gray-25);
  display: flex;
  /* border-bottom: 1px solid var(--gray-25); */
}
.codelistItem span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footerWrap {
  display: flex;
  justify-content: space-between;
}

.footerWrap input {
  margin-right: 1rem;
}

.footerWrap input:nth-last-child(2) {
  margin-left: auto;
}

.itemTable {
  margin: 1.5rem 0 1rem 2rem;
}
