.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0;
  width: 100%;

  > span {
    display: flex;
    flex-direction: row;
    font-size: 10pt;
    width: 100%;
  }

  .dataflowInput {
    color: var(--floating-label-color) !important;
    height: 2.5em;

    > span {
      border-bottom: var(--inputtext-border) !important;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    .inputFilter {
      background: transparent !important;
      border-bottom: 0 !important;
      border-left: 0 !important;
      border-radius: 0 !important;
      border-right: 0 !important;
      border-top: 0 !important;
      width: 100% !important;

      &:focus,
      &:enabled:focus {
        box-shadow: 0 0 0 0 var(--blue-120) !important;
      }
    }

    .inputFilter::placeholder {
      font-style: normal;
      font-size: 10pt;
    }

    .cancelIcon {
      font-size: 12pt !important;
      height: 2.1rem !important;
    }

    .label {
      clip: auto;
      height: auto;
      overflow: visible;
      width: 70%;
    }

    .multiselectFilter {
      border-bottom: var(--inputtext-border) !important;
      border-left: 0 !important;
      border-radius: 0 !important;
      border-right: 0 !important;
      border-top: 0 !important;
      color: var(--floating-label-color) !important;
      font-size: 10pt !important;
      height: 2.1rem;
      padding-left: 0em;
      width: 65% !important;

      li {
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }

        .statusBox {
          border-radius: 3px;
          color: var(--main-font-color);
          font-size: 10pt;
          font-weight: 600;
          padding: 4px;
        }

        .blocker {
          background-color: var(--statusBox-blocker-bg) !important;
          color: var(--statusBox-blocker-color) !important;
        }

        .correct {
          background-color: #c8e6c9 !important;
          color: #256029 !important;
        }

        .design {
          background-color: rgba(#c2c8cf, 0.8) !important;
          color: var(--black) !important;
        }

        .draft {
          background-color: #eccfff !important;
          color: #694382 !important;
        }

        .error {
          background-color: var(--statusBox-error-bg) !important;
          color: var(--statusBox-error-color) !important;
        }

        .info {
          background-color: var(--statusBox-info-bg) !important;
          color: var(--statusBox-info-color) !important;
        }

        .warning {
          background-color: var(--statusBox-warning-bg) !important;
          color: var(--statusBox-warning-color) !important;
        }
      }
    }

    .dropdownFilter {
      border-bottom: var(--inputtext-border) !important;
      border-left: 0 !important;
      border-radius: 0 !important;
      border-right: 0 !important;
      border-top: 0 !important;
      color: var(--floating-label-color) !important;
      font-size: 10pt !important;
      height: 2.1rem;
      padding-left: 0em;
      width: 75% !important;

      > label {
        margin: 0;
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        top: 0;
        white-space: nowrap;
        width: 95%;
      }
    }

    .searchInput {
      background: transparent !important;
      border-left: 0 !important;
      border-radius: 0 !important;
      border-right: 0 !important;
      border-top: 0 !important;
      max-width: 200px;
      width: 100%;

      &:focus,
      &:enabled:focus {
        box-shadow: 0 0 0 0 var(--blue-120) !important;
      }

      &:active {
        width: 15.55%;
      }
    }

    .selectHeader {
      border-radius: 3px;
      color: var(--floating-label-color);
      font-size: 9pt;
      font-weight: 500;
      padding: 4px;
    }

    .labelDown {
      font-size: 10pt !important;
      top: 50% !important;
    }
  }

  .icon {
    background-color: transparent;
    border: none;
    color: var(--button-secondary-transparent-color-hover);
    cursor: pointer;
    font-size: 16pt !important;
    height: 1.6em !important;
    opacity: 0.7;

    &:hover {
      opacity: 1 !important;
    }

    &:enabled:focus {
      box-shadow: 0 0 0 0 var(--white) !important;
      outline: none;
    }

    &:enabled:active,
    &:enabled:hover {
      background-color: transparent !important;
      border-color: transparent !important;
    }
  }

  .buttonWrapper {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}

:global .p-calendar {
  width: 100% !important;
}
