.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  width: 100%;
  justify-content: space-between;

  > span {
    display: flex;
    flex-direction: row;
    font-size: 10pt;
    width: 100%;
  }

  .dataflowInput {
    height: 2.5em;
    color: var(--floating-label-color) !important;

    > span {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 65%;
      border-bottom: var(--inputtext-border) !important;
    }

    .inputFilter {
      background: transparent !important;
      border-bottom: 0 !important;
      border-left: 0 !important;
      border-radius: 0 !important;
      border-right: 0 !important;
      border-top: 0 !important;
      width: 100% !important;

      &:focus,
      &:enabled:focus {
        box-shadow: 0 0 0 0 var(--blue-120) !important;
      }
    }

    .inputFilter::placeholder {
      font-style: normal;
      font-size: 10pt;
    }

    .cancelIcon {
      font-size: 12pt !important;
      height: 2.1rem !important;
    }

    .label {
      clip: auto;
      height: auto;
      overflow: visible;
    }

    .multiselectFilter {
      border-bottom: var(--inputtext-border) !important;
      border-left: 0 !important;
      border-radius: 0 !important;
      border-right: 0 !important;
      border-top: 0 !important;
      color: var(--floating-label-color) !important;
      font-size: 10pt !important;
      height: 2.1rem;
      padding-left: 0em;
      width: 65% !important;

      .statusBox {
        border-radius: 3px;
        color: white;
        font-size: 10pt;
        font-weight: 600;
        padding: 4px;
      }

      .draft {
        background-color: rgba(#6565a8, 0.9);
      }

      .design {
        background-color: rgba(#c2c8cf, 0.8);
        color: var(--black);
      }

      .reporter {
        background-color: rgba(#6565a8, 0.9);
      }

      .requester {
        background-color: rgba(#c2c8cf, 0.8);
        color: var(--black);
      }
    }

    .dropdownFilter {
      border-bottom: var(--inputtext-border) !important;
      border-left: 0 !important;
      border-radius: 0 !important;
      border-right: 0 !important;
      border-top: 0 !important;
      color: var(--floating-label-color) !important;
      font-size: 10pt !important;
      height: 2.1rem;
      padding-left: 0em;
      width: 75% !important;

      > label {
        position: absolute;
        top: 0;
        margin: 0;
        width: 95%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .selectHeader {
      border-radius: 3px;
      color: var(--black);
      font-size: 10pt;
      font-weight: 500;
      padding: 4px;
      background-color: var(--gray-15);
      text-transform: uppercase;
    }

    .labelDown {
      font-size: 10pt !important;
      top: 50% !important;
    }
  }

  .icon {
    background-color: transparent;
    border: none;
    color: var(--button-secondary-transparent-color-hover);
    cursor: pointer;
    font-size: 16pt !important;
    height: 1.6em !important;
    opacity: 0.7;

    &:hover {
      opacity: 1 !important;
    }

    &:enabled:focus {
      box-shadow: 0 0 0 0 var(--white) !important;
      outline: none;
    }

    &:enabled:active,
    &:enabled:hover {
      background-color: transparent !important;
      border-color: transparent !important;
    }
  }
}

:global .p-calendar {
  width: 100% !important;
}
