.container {
  height: 55vh;
}

.users {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.emptyFilteredData,
.noUsers {
  height: 100%;
  display: flex;
  flex: 1 auto;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
}
