.Title {
  color: #404040;
  background-color: #ffffff;
  display: table-cell;
  width: 100%;
}

.Title h2 {
  font-weight: 50;
  vertical-align: middle;
  text-align: center;
}
.Title img {
  height: 35px;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}
