@import '_styles/mixins';

.descriptionLabel {
  margin: 0.5vw 0 0.5vw 1vw;
  color: var(--main-font-color);
}
.fieldDesignerItem {
  margin-right: 50px !important;
}
.fieldDesignerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap-reverse;
  z-index: 3000;
}
.fieldDesignerWrapper:last-child {
  margin-bottom: 1rem;
}
.fieldsHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  color: var(--main-font-color);
  font-weight: bold;
  span {
    width: 60px;
    margin-left: 2.5rem;
  }
  label {
    &:nth-child(2) {
      width: 75px;
    }
    &:nth-child(3) {
      width: 85px;
    }
    &:nth-child(4) {
      width: 20%;
      margin-right: 0.4rem;
      &.withCodelistOrLink {
        width: 15%;
      }
    }
    &:nth-child(5) {
      width: 15%;
      @include for-big-desktop-up {
        width: 25%;
      }
      margin-right: 0.4rem;
    }
    &:nth-child(6) {
      width: 20%;
      margin-right: 0.4rem;
    }
  }
  .PKWrap {
    > label {
      margin-left: 0.5rem !important;
    }
    .PKInfoButton {
      background-color: var(--white) !important;
      border-radius: 50% !important;
      color: var(--datatable-header-info-button-color) !important;
      font-size: 12pt !important;
      height: 0.7em !important;
      width: 0.7em !important;
      margin-left: 0.4rem !important;
      margin-right: 0.9rem !important;
      margin-top: -1rem !important;
      :global .pi-info-circle {
        padding: 0 !important;
        top: 40%;
      }
      > span {
        left: 46% !important;
        margin-left: -0.48em !important;
        margin-top: -0.5em !important;
      }
      &:focus {
        box-shadow: none !important;
      }
    }
  }
}
.positioning {
  top: 0 !important;
}
.switchContainerInput {
  width: 100vw;
}
.switchDiv {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.switchDiv div:nth-child(-n + 3) {
  margin-bottom: 0.3rem;
}

.tableDescriptionRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1vw 1vw;
  .constraintsButtons {
    display: flex;
    flex-direction: column;
    button:last-child {
      margin-top: 5px;
    }
  }
}
.switchTextInput {
  font-weight: bold;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 5px;
  color: var(--main-font-color);
}
.tableDescriptionInput {
  width: 40vw;
  transition: 0.5s !important;
}
:global body .p-inputswitch.p-inputswitch-focus .p-inputswitch-slider {
  @include shadow-0em;
}
