.categories {
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 1rem 0rem;
  /* box-shadow: -1px 2px 15px 1px rgba(var(--blue-120-rgb), 0.2); */
}

.categoryInput {
  width: 90%;
}

.categoryIncorrectInput {
  border: 2px solid var(--errors) !important;
}

.categoryInput:first-child {
  margin: 0 0 0 2rem;
}

.categoryEditInput {
  margin: 1.5rem 2rem 0 2rem;
}

.categoryExpandable {
  height: 1.5vw;
  padding: 2rem 1.5rem 2rem 1rem;
  align-items: center;
  /* background-color: var(--gray-5); */
  display: flex;
  border-top: 2px dashed var(--gray-25);
}

.positioning {
  position: sticky !important;
  width: 3rem !important;
  height: 3rem !important;
}

.noCodelistsMessage {
  display: flex;
  justify-content: center;
}

.noCodelistsMessage span {
  font-style: italic;
  color: var(--gray-50);
  user-select: none;
}

.codelistHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 1rem 0rem 0rem 0rem;
}
.codelistHeader > span {
  width: 14%;
  display: flex;
  font-size: 10pt;
}

.inputFilter {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  width: 100% !important;
}

.inputFilter:enabled:focus,
.inputFilter:focus {
  box-shadow: 0 0 0 0 var(--blue-120) !important;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.p-multiselect:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0 var(--blue-120) !important;
}

.multiselectFilter {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  color: var(--floating-label-color) !important;
  width: 100% !important;
}

.codelistInputTextareaDialog {
  margin: 1.5rem 0 0 2rem;
  width: 80%;
}

.orderIcon {
  opacity: 0.7;
  margin-right: 4.5% !important;
  font-size: 12pt !important;
}

.orderIcon:hover {
  opacity: 1;
}

.orderIcon:enabled:focus {
  box-shadow: 0 0 0 0 var(--white) !important;
}

.orderIcon:enabled:active,
.orderIcon:enabled:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}

.p-multiselect-item,
.p-highlight {
  background-color: transparent !important;
}

.statusBox {
  border-radius: 3px;
  padding: 4px;
  color: white;
  font-size: 10pt;
  font-weight: 600;
}

.deprecatedBox {
  background-color: rgba(var(--c-red-100-rgb), 0.9);
}

.readyBox {
  background-color: rgba(var(--success-color-rgb), 0.8);
}

.designBox {
  background-color: rgba(var(--c-corporate-blue-rgb), 0.8);
}
