.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem 0;
  .content {
    display: flex;
    justify-content: space-between;
    .helpSideBar {
      width: 30%;
    }
    .sqlSentence {
      margin-top: -1rem !important;
      display: flex;
      flex-direction: column;
      width: 66%;
      .title {
        font-size: 1rem;
        color: var(--title-color);
        margin-bottom: 0.6rem;
        .sqlSentenceInfoBtn {
          background-color: var(--c-white-color) !important;
          border-radius: 50% !important;
          color: var(--datatable-header-info-button-color) !important;
          font-size: 12pt !important;
          height: 0.7em !important;
          width: 0.7em !important;
          margin-left: 0.4rem !important;
          margin-right: 0.9rem !important;
          margin-top: -1rem !important;
          :global .pi-info-circle {
            padding: 0 !important;
            top: 40%;
          }
          > span {
            left: 46% !important;
            margin-left: -0.48em !important;
            margin-top: -0.5em !important;
          }
          &:focus {
            box-shadow: none !important;
          }
        }
        .ccButton {
          margin-top: -0.9em;
          margin-left: 0.4rem !important;
          border: 1px solid var(--c-custom-gray) !important;
          padding: 0.37rem 0.45rem;
          float: right;
        }
        .validateSqlSentenceButton {
          border: 1px solid var(--c-custom-gray) !important;
          float: right;
          margin-top: -0.9em;
          margin-left: 0.4rem !important;
        }
        .validateSqlSentenceCost {
          float: right;
          margin-top: -0.9em;
          margin-left: 0.4rem !important;
        }
        .validateSqlSentenceIcon {
          padding-top: 1px;
        }
      }
      textarea {
        flex: auto;
      }
    }
  }
}
.levelHelp {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--main-font-color);
}
.note {
  font-style: italic;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--main-font-color);
}

.sqlErrorMessage {
  margin-top: 0.5rem;
  text-align: right;
  font-style: italic;
  color: var(--errors);
}

.emptySqlErrorMessage {
  margin-top: 0.5rem;
  height: 1.2rem;
}

.trafficLight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 5rem;
  height: 2rem;
  border-radius: 30px;
  position: relative;
  top: 10%;
  margin-right: 0.1rem;
  background-color: var(--traffic-light-bg);
}

.lightSignal {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: var(--traffic-light-radius);
}

.redLightSignal {
  background: var(--traffic-light-red-active);
}

.yellowLightSignal {
  background: var(--traffic-light-yellow-active);
}

.greenLightSignal {
  background: var(--traffic-light-green-active);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2rem;
}
