.scrollTab {
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: -1px;
  white-space: nowrap;
  text-overflow: unset;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.iconHidden {
  display: none !important;
}

.scrollTab::-webkit-scrollbar {
  display: none;
}

.navigationTabIcons {
  cursor: pointer !important;
  font-size: 2.25rem !important;
  position: absolute !important;
  margin-top: 2.25px;
}
.navigationTabIcons:hover {
  border: 1px solid;
  border-radius: 3px;
  background-color: var(--c-custom-gray);
}
.stepBackwardIcon {
  left: -19px !important;
}
.stepInitIcon {
  left: -54px !important;
}
.stepForwardIcon {
  right: -19px !important;
}
.stepEndIcon {
  right: -54px !important;
}
