.dataflowInput {
  height: 2.5em;
  color: var(--floating-label-color) !important;
  width: 15%;
  display: flex !important;
  flex-direction: row !important;
  font-size: 10pt;

  .searchInput {
    background: transparent !important;
    border-left: 0 !important;
    border-radius: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    width: 100% !important;

    &:focus,
    &:enabled:focus {
      box-shadow: 0 0 0 0 var(--blue-120) !important;
    }
  }

  .searchInput::placeholder {
    font-style: normal;
    font-size: 10pt;
  }

  .cancelIcon {
    font-size: 12pt !important;
    height: 2.1rem !important;
  }
}

.icon {
  background-color: transparent;
  border: none;
  color: var(--button-secondary-transparent-color-hover);
  cursor: pointer;
  font-size: 16pt !important;
  height: 1.6em !important;
  opacity: 0.7;

  &:hover {
    opacity: 1 !important;
  }

  &:enabled:focus {
    box-shadow: 0 0 0 0 var(--white) !important;
    outline: none;
  }

  &:enabled:active,
  &:enabled:hover {
    background-color: transparent !important;
    border-color: transparent !important;
  }
}
