.search {
  cursor: pointer !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .searchInput {
    background-color: var(--form-field-bg);
    border-radius: 0 !important;
    border: none;
    color: var(--main-font-color);
    outline: none;
    padding: 10px;

    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  .searchErrors {
    &::placeholder {
      color: var(--errors);
      opacity: 1;
    }
  }
}

.buttonWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .cancelButton {
    margin-left: 0.5rem !important;
  }
}
