/* ICONS https://ec-europa.github.io/europa-component-library/ec/components/preview/ec-style-icon*/

*:focus {
  outline: none;
}

html,
body {
  font-family: 'open sans', sans-serif;
  background-color: var(--bg);
}

html,
body h1,
h2 {
  color: var(--c-gray-110);
}
.app {
  position: relative;
}
