/* ICONS https://ec-europa.github.io/europa-component-library/ec/components/preview/ec-style-icon*/

html,
body {
  font-family: 'open sans', sans-serif;
}

html,
body h1,
h2 {
  color: var(--gray-110);
}
.app {
  position: relative;
  top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
}
