/* ICONS https://ec-europa.github.io/europa-component-library/ec/components/preview/ec-style-icon*/

html,
body {
  font-family: 'Arial', sans-serif;
  /* 'Open Sans', sans-serif; */
  /* 'Arial', sans-serif; */
}

html,
body h1,
h2 {
  color: var(--gray-110);
}
.app {
  position: relative;
  min-height: 100vh;
}
