.lazyLoadingWrapper {
  display: block;
}
.lazyLoadingSpinner {
  top: 0 !important;
}
.messagesWrapper {
  max-height: 40vh;
  overflow: scroll;
  width: 100%;
  .emptyMessageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      color: var(--main-font-color);
      font-style: italic;
    }
  }
}
