@import '_styles/mixins';

.dialogContent,
.noDataContent {
  height: 58vh;
}

.noDataContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  flex-direction: column;
  .spinnerPosition {
    top: 0;
    left: 0;
  }
  button {
    padding: 0.5em 1em;
  }
}

.actionsColumn {
  width: 133px;
}

.footer {
  display: flex;
}

.buttonPushRight {
  margin-left: auto !important;
}

.actionButton {
  border: 1px solid var(--general-border-color) !important;
  @include shadow-0em;
  margin-left: 3px !important;
  &:enabled:hover {
    border-color: var(--button-secondary-border-color-hover) !important;
  }
}

.deleteRowButton {
  @extend .actionButton;
  color: var(--errors) !important;
}

.chooseButton {
  display: flex;
  margin-left: 0 !important;
  width: 100%;
  .chooseInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    & + label {
      width: 100%;
      padding: 1rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

.infoButton {
  background-color: var(--c-white-color) !important;
  border-radius: 50% !important;
  color: var(--datatable-header-info-button-color) !important;
  font-size: 12pt !important;
  height: 0.7em !important;
  margin-left: 0.4rem !important;
  width: 0.7em !important;

  > span {
    left: 46% !important;
    margin-left: -0.48em !important;
    margin-top: -0.5em !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}

.addEditDialog {
  min-width: 400px;
  max-width: 650px;
}

.nameInput {
  margin-bottom: 1rem;
}
