@import '_styles/mixins';

.actionButton {
  border: 1px solid var(--general-border-color) !important;
  @include shadow-0em;
  margin-left: 3px !important;
  &:enabled:hover {
    border-color: var(--button-secondary-border-color-hover) !important;
  }
}

.deleteRowButton {
  @extend .actionButton;
  color: var(--errors) !important;
}
