.userBoxContainer {
  width: 33%;
  border-radius: 5px;
  border: 1px solid rgb(212, 212, 212);
  -webkit-box-shadow: 6px 8px 9px 1px rgba(230, 227, 230, 1);
  -moz-box-shadow: 6px 8px 9px 1px rgba(230, 227, 230, 1);
  box-shadow: 6px 8px 9px 1px rgba(230, 227, 230, 1);
}
