.Loader {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;    
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* 
.LoaderDiv{
    display: flex;
    align-items: center;
} */

@-webkit-keyframes loader {
    0% {
      width: 0;
    }
    20% {
      width: 10%;
    }
    25% {
      width: 24%;
    }
    43% {
      width: 41%;
    }
    56% {
      width: 50%;
    }
    66% {
      width: 52%;
    }
    71% {
      width: 60%;
    }
    75% {
      width: 76%;
    }
    94% {
      width: 86%;
    }
    100% {
      width: 100%;
    }
  }
  
  @keyframes loader {
    0% {
      width: 0;
    }
    20% {
      width: 10%;
    }
    25% {
      width: 24%;
    }
    43% {
      width: 41%;
    }
    56% {
      width: 50%;
    }
    66% {
      width: 52%;
    }
    71% {
      width: 60%;
    }
    75% {
      width: 76%;
    }
    94% {
      width: 86%;
    }
    100% {
      width: 100%;
    }
  }
  .LoaderDiv{
    display: flex;
    align-items: center;
}
  .ProgressBar {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    width: 80%;
    left:5px;
  }
  .ProgressBar span {
    display: block;
  }
  
  .Bar {
    background: rgba(0, 0, 0, 0.075);
    position: relative;
  }
  
  .Progress {
    -webkit-animation: loader 4s ease infinite;
            animation: loader 4s ease infinite;
    background: #004494;
    position: relative;
    color: #fff;
    padding: 5px;
    width: 0;
  }
  
  .ProgressBar {
    max-width: 50%;
  }
  