.codelists {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  list-style: none;
}

.categoryExpandable {
  height: 1vw;
  padding: 1rem 0 2rem 1rem;
  /* background-color: var(--gray-5); */
  display: flex;
}

/* .codelists li:hover {
  background-color: var(--gray-25);
} */
