.codelistsActions {
  display: flex;
  justify-content: space-between;
}

.filterSpan {
  width: 33%;
}

.categoryExpandable {
  height: 2vw;
  padding: 1rem 0 2rem 1rem;
  align-items: center;
  /* background-color: var(--gray-5); */
  display: flex;
}

/* .codelists li:hover {
  background-color: var(--gray-25);
} */
