.header {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  height: var(--header-height);
  padding: 0.5rem;
  overflow: hidden;
  background-color: var(--bg);
  transition: 0.5s;
  box-shadow: var(--header-box-shadow);
  z-index: 3002;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    img {
      height: 3rem;
      margin-right: 1rem;
    }
    h1 {
      margin: 0px;
      font-size: 1.5rem;
      color: var(--main-font-color);
    }
  }
  .userWrapper {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    span {
      font-weight: 500;
      font-size: 0.8rem;
      color: var(--main-font-color);
    }
  }
  .themeSwitcherTooltip {
    z-index: 3004;
  }

  .themeSwitcherInputSwitch:before {
    background-color: var(--black);
    box-shadow: var(--inputswitch-dark-theme-checked);
  }
}
