.draggableFieldDiv .inputField {
  width: 20vw;
}
.inputFieldDescription {
  margin-left: 0.4rem !important;
  width: 30vw;
}
.draggableFieldDiv {
  display: flex;
  justify-items: center;
  flex-flow: wrap-reverse;
  align-items: baseline;
  margin: 0px 0 5px 0;
  width: 100vw;
  cursor: grab;
}

.draggableFieldDiv:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.draggableFieldDiv * {
  pointer-events: none;
}

.dropdownFieldType {
  margin-left: 0.4rem;

  width: 20vw;
}

.codelistButton {
  margin-left: 0.4rem !important;
  color: #404040;
  background-color: var(--gray-5) !important;
  border: 1px solid var(--gray-25) !important;
}

.deleteButton {
  color: var(--errors);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-left: 0.4rem;
  border-radius: 3px;
  height: 1.95rem;
  border: 1px solid var(--c-custom-gray);
}

.deleteButton:hover {
  background-color: var(--c-custom-gray);
  color: var(--errors);
}

.fieldSeparator {
  box-shadow: 1px 1px rgba(var(--blue-120-hex), 0.2), 2px 2px rgba(var(--blue-120-hex), 0.2),
    3px 3px rgba(var(--blue-120-hex), 0.2);
  width: 74.5vw;
  height: 30px;
  background-color: rgba(var(--blue-120-hex), 0.2);
  margin: 5px 0 5px 2rem;
  padding: 5px;
  order: 2;
  display: none;
}
.fieldSeparator:first-child {
  order: 1;
}

.fieldSeparatorDragging {
  display: block;
  animation-name: fadeInBorder;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 400ms;
  border: 1px dashed var(--gray-75);
  opacity: 0.7;
  border-radius: 3px;
}

.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 400ms;
}

.flip {
  animation: flip 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    display: 'block';
  }
  40% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
    display: 'none';
  }
}

@keyframes fadeInBorder {
  0% {
    border: 0px dashed var(--gray-75);
    opacity: 0.2;
  }
  100% {
    border: 1px dashed var(--gray-75);
    opacity: 0.7;
  }
}
