.chipButton {
  align-items: baseline;
  background: var(--chipbutton-secondary-transparent-bg);
  border-radius: 25px;
  color: var(--main-font-color);
  display: inline-flex;
  font-size: 14px;
  line-height: 30px;
  margin: 0 0.286em 0.286em 0;
  max-width: 30%;
  padding: 0 10px;
  transition: background-color 0.2s, box-shadow 0.2s;
  white-space: normal;
  &:hover {
    background: var(--chipbutton-secondary-transparent-bg-hover);
  }
}
.chipButtonIcon {
  cursor: pointer;
  font-size: 1rem;
  margin-left: 12px;
  opacity: 0.7;
  top: 33%;
}
.chipButtonErrorIcon {
  font-size: 1rem;
  margin-right: 12px;
  cursor: default !important;
}
.chipButtonHidden {
  display: none;
}
.chipButtonLabel {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
