.container {
  min-height: 25vh;
}
.listContainer {
  padding-left: 0px;
  list-style: none;
}

.btnDelete {
  border: 1px solid var(--c-custom-gray) !important;
  box-shadow: 0em var(--blue-100) !important;
  color: var(--errors) !important;
  margin-left: 3px !important;

  &:focus {
    box-shadow: none;
  }
}
.selectWrapper {
  display: flex;
  justify-items: center;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.addDataProviderButtonWrapper :global .formField {
  width: 42%;
}
.title {
  font-weight: 600;
}
.chooseRepresentative {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.toLower {
  text-transform: lowercase;
}
