.container {
  min-height: 25vh;
}
.listContainer {
  padding-left: 0px;
  list-style: none;
}

.dataProvidersDropdown {
  max-width: 16rem;
}

.exportTemplate {
  margin-left: 1rem !important;
}
.btnDelete {
  border: 1px solid var(--c-custom-gray) !important;
  box-shadow: 0em var(--blue-100) !important;
  color: var(--errors) !important;
  margin-left: 3px !important;

  &:focus {
    box-shadow: none;
  }
}
.selectWrapper {
  display: flex;
  justify-items: center;
  align-items: center;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.addDataProviderButtonWrapper :global .formField {
  width: 42%;
}
.title {
  font-weight: 600;
}
.chooseRepresentative {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.selectDataProvider {
  color: var(--dropdown-panel-color);
  background-color: var(--dropdown-panel-bg);
}

.disabled {
  color: #5f5f5f !important;
}

.emptyTableHeader {
  :global .p-column-title {
    display: none;
  }
}

.table {
  .spinner {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    overflow: hidden;
    position: absolute;
    user-select: none;
    width: 100%;

    svg {
      width: 100px;
    }
  }
}
