.actionTemplate {
  display: flex;
  justify-content: center;
}
.editRowButton {
  border: 1px solid var(--c-custom-gray) !important;
  box-shadow: 0 0 0 0em var(--blue-120) !important;
  margin-left: 3px !important;
}
.deleteRowButton {
  border: 1px solid var(--c-custom-gray) !important;
  box-shadow: 0 0 0 0em var(--blue-120) !important;
  color: var(--errors) !important;
  margin-left: 3px !important;
}
