.searchInput {
  margin-bottom: 1rem;
  width: 90%;
}

.columnButton {
  width: 90%;
  font-size: 0.9rem !important;
  margin-bottom: 1rem !important;
}

.dialog :global .p-dialog-content {
  padding-bottom: 0 !important;
}
