.searchInput {
  margin-bottom: 1rem;
  width: 90%;
}

.columnButton {
  width: 90%;
  font-size: 0.9rem !important;
  margin-bottom: 1rem !important;
}

.dialog :global .p-dialog-content {
  padding-bottom: 0 !important;
}

.leftSideBar {
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--blue-120);
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 45px;
  white-space: nowrap;
  cursor: pointer;
}

.leftSideBar a:first-child {
  position: absolute;
  top: 0;
  color: var(--white);
}

.leftSideBar a:nth-child(2) {
  font-style: italic;
  color: var(--white);
  margin-top: 3rem;
}

.leftSideBar a:nth-child(3) {
  /* margin-bottom: 2rem; */
  color: var(--white);
}

.leftSideBar a:last-child {
  position: absolute;
  bottom: 0;
  margin-bottom: 3rem;
}

.leftSideBar img:first-child {
  margin-right: 12px;
}

.leftSideBar a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: var(--gray-50);
  display: block;
}

.leftSideBar a i {
  margin-right: 12px;
}

.leftSideBar a:hover:not(:first-child) {
  color: var(--white);
}

.leftSideBar:hover {
  width: 200px;
}

.leftSideBarText {
  font-size: 14px;
}

.leftSideBarTextTitle {
  font-size: 22px;
}

.leftSideBarUserText {
  font-size: 14px;
}

.leftSideBarUserIcon {
  margin-right: 12px;
}

.leftSideBarElementWrapper {
  display: flex;
  align-items: center;
}

.leftSideBarElementAnimation {
  transition: transform 0.8s ease-in-out;
}

.leftSideBarElementAnimation:hover {
  transition: 0.3s ease-in;
  animation: blink 0.3s;
  /* transform: rotate(180deg); */
}

.leftSideBarLogo:hover {
  transition: 0.3s ease-in;
  animation: blink 0.3s;
}

.leftSideBarButtonSeparator {
  width: 85%;
}

.leftSideBarButtonFirstSeparator {
  width: 85%;
  position: absolute;
  top: 0;
  margin-left: 5%;
  margin-top: 14rem;
}

.leftSideBarButtonLastSeparator {
  width: 85%;
  position: absolute;
  bottom: 0;
  margin-left: 5%;
  margin-bottom: 7rem;
}

@keyframes blink {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
