.validations {
  min-height: 40vh;
}

.positioning {
  position: sticky !important;
}

.tabsValidations {
  margin: 0.5em 0;
}

.searchInput {
  margin-top: 1rem;
}

.actionButtons {
  display: flex;
  justify-content: center;
  align-items: center;

  .btnDelete {
    border: 1px solid var(--c-custom-gray) !important;
    box-shadow: 0em var(--blue-100) !important;
    color: var(--errors) !important;
    margin-left: 3px !important;

    &:focus {
      box-shadow: none;
    }
  }
  .btnEdit {
    border: 1px solid var(--c-custom-gray) !important;
    box-shadow: 0em var(--blue-100) !important;
    color: var(--main-color-font) !important;
    margin-left: 3px !important;

    &:focus {
      box-shadow: none;
    }
  }
}

.checkedValueColumn {
  text-align: center;

  .icon {
    color: var(--main-color-font);
  }

  .spinner {
    animation: spinnerAnimation 0.75s linear infinite;
  }
}

.paginatorValidationViewer :global .p-dropdown-panel {
  top: -6rem !important;
}

.levelError {
  border-radius: 3px;
  color: white;
  font-size: 10pt;
  font-weight: 600;
  padding: 4px;
}

.blocker {
  background-color: rgba(#c2c8cf, 0.8) !important;
  color: rgba(#000, 0.8) !important;
}

.error {
  background-color: #ffcdd2 !important;
  color: #c63737 !important;
}

.info {
  background-color: #b3e5fc !important;
  color: #23547b !important;
}

.warning {
  background-color: #ffd8b2 !important;
  color: #805b36 !important;
}

@keyframes spinnerAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
