.p-growl {
  top: 70px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  width: 25em !important;
}
.p-growl.p-component.p-growl-topright {
  z-index: 5100 !important;
}

.p-growl-topright {
  top: 80px !important;
}

/* Animations */
.p-growl-enter {
  opacity: 0.01;
}

.p-growl-enter.p-growl-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.p-growl-exit {
  max-height: 500px;
}

.p-growl-exit.p-growl-exit-active {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), margin-bottom 0.5s cubic-bezier(0, 1, 0, 1);
}
