.italicTitle {
  font-style: italic;
}

.userconfig {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  height: var(--header-height);
  padding: 0.5rem;
  overflow: hidden;
  background-color: var(--bg);
  transition: 0.5s;
  box-shadow: var(--header-box-shadow);
  z-index: 3002;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    img {
      height: 3rem;
      margin-right: 1rem;
    }
    h1 {
      margin: 0px;
      font-size: 1.5rem;
      color: var(--main-font-color);
    }
  }

  .logoutWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
      color: var(--main-font-color);
    }
  }
  .themeSwitcherTooltip {
    z-index: 3004;
  }
}

.userConfigurationContainer {
  width: 65%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid var(--card-box-shadow);
  -webkit-box-shadow: 6px 8px 9px 1px var(--card-box-shadow);
  -moz-box-shadow: 6px 8px 9px 1px var(--card-box-shadow);
  box-shadow: 6px 8px 9px 1px var(--card-box-shadow);
  text-align: left;
}
.userConfirmLogout {
  color: var(--c-corporate-blue);
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: 1.25em;
  margin-left: 1rem;
  color: var(--main-font-color);
}

.userDefaultRows {
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  font-size: 1em;
  font-weight: bold;
  color: var(--main-font-color);
}

.userUploadImg {
  margin-top: 4rem;
}

.userThemeTitle {
  font-weight: bold;
  margin-top: 1.4rem;
  font-size: 1.5em;
  margin-left: 1rem;
  color: var(--main-font-color);
}

.dropdownFieldType {
  margin-left: 1rem;
}

.themeSwitcherInputSwitch:before {
  background-color: var(--black);
  box-shadow: var(--inputswitch-dark-theme-checked);
}

.switchTextInput {
  font-size: 0.9em;
  font-weight: bold;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 5px;
  color: var(--main-font-color);
}