.userconfig {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  height: var(--header-height);
  padding: 0.5rem;
  overflow: hidden;
  background-color: var(--bg);
  transition: 0.5s;
  box-shadow: var(--header-box-shadow);
  z-index: 3002;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    img {
      height: 3rem;
      margin-right: 1rem;
    }
    h1 {
      margin: 0px;
      font-size: 1.5rem;
      color: var(--main-font-color);
    }
  }

  .logoutWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
      color: var(--main-font-color);
    }
  }
  .themeSwitcherTooltip {
    z-index: 3004;
  }
}
//////////////////////////////////////////

.userConfigurationContainer {
  width: 65%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid var(--box-shadow);
  -webkit-box-shadow: 6px 8px 9px 1px var(--box-shadow);
  -moz-box-shadow: 6px 8px 9px 1px var(--box-shadow);
  box-shadow: 6px 8px 9px 1px var(--box-shadow);
  text-align: left;
}
.userConfirmLogout {
  color: var(--c-corporate-blue);
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: 1.25em;
  margin-left: 1rem;
  color: var(--main-font-color);
}

.userDefaultRows {
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  font-size: 1em;
  font-weight: bold;
  color: var(--main-font-color);
}
