.mainContainer {
  position: relative;
  top: var(--header-height);
  height: auto;
  min-height: calc(100vh - var(--header-height));
  .pageContent {
    display: flex;
    margin: 2rem 0 4rem 0;
    .mainTextWrapper {
      display: flex;
      justify-content: space-between;
      .frontText {
        width: 75%;
        padding: 2rem;
        -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        @media (max-width: 320px) {
          padding: 1rem;
        }
      }
      .sideBar {
        width: 22%;
        display: flex;
        flex-direction: column;
        .contactBox {
          width: 100%;
          border-radius: 5px;
          padding: 1rem;
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
          margin-right: 1rem;
          background-color: #000;
          color: white;
          cursor: pointer;
          margin-bottom: 1rem;
          a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--white);
            height: 100%;
            .iconWrapper {
              width: 75px;
              height: 75px;
              border: 2px solid #fff;
              border-radius: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              .emailIcon {
                width: 25px;
                height: 25px;
              }
            }
            p {
              text-align: center;
              margin: 0px;
            }
          }
          &:hover {
            box-shadow: var(--card-item-box-shadow-hover);
            transform: scale(1.02, 1.02);
            transition: transform 0.2s ease;
          }
        }
        .linkBox {
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
          border-radius: 5px;
          padding: 1rem;
          background-color: var(--white);
          color: var(--main-font-color);
          display: flex;
          flex-direction: column;
          flex: 1 auto;
          h3 {
            margin-bottom: 0;
          }
          ul {
            font-weight: bold;
            li {
              margin-bottom: 0.5rem;
              a {
                display: flex;
                align-items: center;
                font-weight: bold;
                color: var(--main-font-color);
                text-decoration: none;
                svg {
                  height: 0.75rem;
                }
              }
            }
          }
        }
      }
      @media (max-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
        .frontText {
          width: 100%;
        }
        .sideBar {
          margin-top: 1rem;
          width: 100%;
        }
      }
    }

    .currentDataflows {
      margin-top: 4rem;
      .dataflowsList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 2rem;
      }
    }
    .otherPortals {
      width: 100%;
      .portalList {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        .portalBox {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 20%;
          border-radius: 5px;
          padding: 1rem;
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
          margin-right: 1rem;
          cursor: pointer;
          p {
            text-align: center;
          }
          &:hover {
            box-shadow: var(--card-item-box-shadow-hover);
            transform: scale(1.02, 1.02);
            transition: transform 0.2s ease;
          }
        }
      }
      @media (max-width: 768px) {
        .portalList {
          .portalBox {
            width: 47%;
          }
        }
      }
      @media (max-width: 414px) {
        .portalList {
          flex-direction: column;
          .portalBox {
            width: 100%;
            &:first-of-type {
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
    @media (max-width: 414px) {
      margin: 1rem 0 2rem 0;
    }
  }
}
