.fieldsTable {
  border-collapse: collapse;
  margin-top: 4px;
}

.fieldsTable td,
.fieldsTable th {
  border: 1px solid var(--gray-10);
  padding: 8px;
}

.fieldsTable tr:nth-child(even) {
  background-color: var(--gray-5);
}

.fieldsTable tr:hover {
  background-color: var(--gray-10);
  cursor: pointer;
}

.fieldsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--c-custom-gray);
  color: white;
}

.propertyTitle {
  color: var(--treeview-property-title-color);
  font-size: 14px;
}

.propertyValue {
  color: var(--treeview-property-value-color);
}

.propertyValueTableName {
  font-weight: bold;
}

.levelErrorTemplateWrapper {
  display: flex;
  justify-content: center;
}

.slider-enter {
  height: 0px;
}

.slider-enter.slider-enter-active {
  height: 100px;
  -webkit-transition: height 0.3s ease;
}

.slider-exit.slider-exit-active {
  height: 0px;
  -webkit-transition: height 0.3s ease;
}
