.userObligationsContainer {
  width: 100%;
  border-bottom: 1px solid rgb(212, 212, 212);
  padding: 1rem;

  text-align: center;
}

.userObligationsTitle {
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: 1.3em;
}

.orderIcon {
  border: 1px solid black;
  text-align: center;
  opacity: 0.7;
  margin-right: 4.5% !important;
  font-size: 10pt !important;
}

.orderIcon:hover {
  opacity: 1;
}

.orderIcon:enabled:focus {
  box-shadow: 0 0 0 0 var(--white) !important;
}

.orderIcon:enabled:active,
.orderIcon:enabled:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}

.obligationsExpandable {
  text-align: left;
  margin-top: 0.7rem;
}

.children {
  text-align: left;
}