@import 'styles/mixins';

.boundaryWrap {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  .boundaryContainer {
    position: relative;
    max-width: 50vw;
    box-shadow: 0 5px 0.5rem rgba(0, 0, 0, 0.6);
    padding: 2rem;
    h2 {
      margin: 0;
      font-size: 3rem;
      color: var(--informative-color);
    }
    svg {
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 8rem;
      color: var(--warning-color);
      opacity: 1;
    }
    .errorTexts {
      margin-top: 2rem;
    }
    .boundaryButtonsWrap {
      margin-top: 4rem;
      display: flex;
      justify-content: space-between;
    }
  }
}
