.validationChartWrap {
  margin: 0px 0px 5rem 0px !important;
}

.releasedChartWrap {
  margin: 0px 0px 5rem 0px !important;
}

.chartToolbar {
  /* position: fixed !important; */
  background: white;
  /* width: 90vw; */
  z-index: 999;
}

.show {
  color: var(--c-corporate-blue) !important;
}
