.validationChartWrap {
  margin-bottom: 5rem !important;
}

.dashboardType {
  font-size: 1.75rem;
  color: var(--gray-110);
  font-weight: 600;
}

.chartToolbar {
  /* position: fixed !important; */
  background: white;
  /* width: 90vw; */
  z-index: 999;
  font-size: 1rem;
  font-weight: 600 !important;
}

.dashboardsButton:enabled:focus {
  box-shadow: none !important;
}

.informationText {
  margin-top: 1rem;
}

.hide {
  color: var(--c-corporate-blue) !important;
}
