.validationChartWrap {
  margin-bottom: 5rem !important;
}

.chartToolbar {
  /* position: fixed !important; */
  background: white;
  /* width: 90vw; */
  z-index: 999;
}

.informationText {
  margin-top: 1rem;
}

.show {
  color: var(--c-corporate-blue) !important;
  font-weight: 600 !important;
}
