.wrap {
  &:last-child {
    margin-bottom: 5rem;
  }
}
.wrap > h2 {
  margin-bottom: 5px;
  color: var(--main-font-color);
}
.wrap > p {
  font-weight: 300;
  color: var(--main-font-color);
}

.dataflowInput {
  // width: 90%;
}

.header {
  display: flex;
  flex-direction: row;
  // margin: 1rem 0rem 0rem 0rem;
  width: 100%;
}
.header > span {
  display: flex;
  font-size: 10pt;
  width: 14%;
}

.inputFilter {
  border-left: 0 !important;
  border-radius: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  width: 100% !important;
}

.inputFilter:enabled:focus,
.inputFilter:focus {
  box-shadow: 0 0 0 0 var(--blue-120) !important;
}

.statusBox {
  border-radius: 3px;
  color: white;
  font-size: 10pt;
  font-weight: 600;
  padding: 4px;
}

.draft {
  background-color: rgba(#6565a8, 0.9);
}

.design {
  background-color: rgba(#c2c8cf, 0.8);
  color: black;
}

.orderIcon {
  font-size: 16pt !important;
  // margin-top: 0.4rem !important;
  opacity: 0.7;
}

.orderIcon:hover {
  opacity: 1;
}

.orderIcon:enabled:focus {
  box-shadow: 0 0 0 0 var(--white) !important;
}

.orderIcon:enabled:active,
.orderIcon:enabled:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}
