.content {
}
.errors {
  color: var(--errors);
  padding-bottom: 10px;
}
.title {
  composes: heading-3 from global;
  margin-bottom: 1rem;
}
.title h3 {
  color: var(--c-corporate-blue);
  margin: 0px;
}

.section {
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}

.newContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.newContainer input {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--grey-75);
  margin-bottom: 1rem;
}

.newContainer button {
  width: 100%;
}

.listContainer ul {
  padding: 0 0.5rem;
}
