.expression {
  display: flex;
  justify-content: flex-start;
  .group {
    margin-right: 2rem;
    :global .p-checkbox-box {
      width: 29px !important;
      height: 29px !important;
      :global .p-checkbox-icon {
        font-size: 27px;
      }
    }
  }
  .union {
    width: 80px;
    :global .p-dropdown {
      width: 100%;
    }
  }
  .operatorType {
    width: 150px;
    :global .p-dropdown {
      width: 100%;
    }
  }
  .operatorValue {
    width: 150px;
    :global .p-dropdown {
      width: 100%;
    }
  }
  .expressionValue {
    width: 350px;
  }
  > span {
    margin-right: 1rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .deleteButton {
    border: 1px solid var(--c-custom-gray) !important;
    box-shadow: 0 0 0 0em var(--blue-120) !important;
    color: var(--errors) !important;
    margin: 0 !important;
  }
}
