.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: var(--white);
  text-align: center;
  padding: 15px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 999;
  bottom: 0;

  margin-left: -0;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

td > .tooltip > span.tooltiptext {
  overflow: visible !important;
}

.buttonCustom {
  padding: 0px !important;
  margin: 0px !important;
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
  justify-self: flex-end !important;
}

.buttonCustom.info {
  color: var(--c-blue-300);
}
.buttonCustom.info:hover {
  color: var(--c-blue-300) !important;
}
.buttonCustom.warning {
  color: var(--c-orange-300);
}
.buttonCustom.warning:hover {
  color: var(--c-orange-300) !important;
}
.buttonCustom.error {
  color: var(--errors);
}
.buttonCustom.error:hover {
  color: var(--errors) !important;
}
.buttonCustom.blocker {
  color: var(--black);
}
.buttonCustom.blocker:hover {
  color: var(--black) !important;
}
.buttonCustom.multi {
  color: var(--c-lilac-400) !important;
}

.buttonCustom.multi:hover {
  color: var(--c-lilac-400) !important;
}
:global .p-tooltip {
  max-width: 30rem !important;
}
:global .p-tooltip-text {
  padding: 1rem !important;
  word-wrap: break-word !important;
}
