.titleWrap {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 1rem 1rem 0rem;
}

.title {
  display: table-cell;
  font-weight: 100;
}

.subtitle {
  color: var(--c-corporate-blue);
  font-weight: 100;
  margin: 0rem !important;
}

.icon {
  color: var(--gray-50);
  margin-right: 0.5rem !important;
}
