.titleWrap {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0rem 0rem 2rem 0rem;
  padding: 2rem 0 0 0;
}

.title {
  display: table-cell;
  font-size: 2.25rem;
  color: var(--gray-110);
  margin: 0px;
  font-weight: bold;
}

.subtitle {
  font-size: 1.3rem;
  color: var(--c-corporate-blue);
  margin: 0px;
  font-weight: 400;
}

.icon {
  color: var(--gray-110);
  opacity: 0.6;
  margin-right: 0.5rem !important;
}
