.ButtonsBar {
  margin-bottom: 0.5rem;
  padding: 0.25rem;
}
.descriptionLabel {
  margin: 0.5vw 0 0.5vw 0.25vw;
  color: var(--main-font-color);
}
.datasetDescription {
  width: 50vw;
  margin-bottom: 1rem !important;
  transition: 0.5s !important;
}

.Dialog {
  width: 55vw;
}

.FileUpload .span {
  width: 100%;
  min-height: 120px;
}

.warning > span {
  color: red;
}

:global .p-tabview.p-tabview-top {
  padding-bottom: 80px;
}

.InputSwitchContainer {
  width: 100%;
}

.InputSwitchDiv {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
}

.InputSwitchText {
  font-size: 1rem;
  font-weight: bold;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 5px;
}

:global body .p-inputswitch.p-inputswitch-focus .p-inputswitch-slider {
  box-shadow: 0 0 0 0em var(--blue-120) !important;
}

.noScroll {
  overflow: hidden !important;
}
