.reportingObligation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70vh !important;

  .spinner {
    top: 0;
    left: 0;
  }

  .filters {
    margin: 0rem 1rem;
  }

  .repOblTools {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
    height: 2.5rem;

    .filterButton {
      margin-right: 1rem;
    }

    .switchDiv {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      width: 30%;

      .switchTextInput {
        color: var(--main-font-color);
        font-size: 0.9em;
        font-weight: bold;
        margin-block-end: 0.5em;
        margin-block-start: 0.5em;
        margin-inline-end: 0px;
        margin-inline-start: 0px;
        padding: 10px !important;
      }
    }
  }

  .selectedObligation {
    margin: 1.5rem 0.5rem;

    > span {
      font-weight: bold;
    }
  }

  .filteredSelected {
    position: absolute;
    bottom: 0;
  }

  .noObligations {
    color: var(--button-secondary-transparent-color-hover);
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  :global .p-datatable-row {
    cursor: pointer;
  }
}
