.NoErrorData {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.dashBoardSpinner {
  top: 0vh !important;
}

.colorPickerWrap {
  border: 1px solid var(--grey-50);
  padding: 20px;
  width: 35%;
}

.dashboardWraper {
  display: flex;
  justify-content: flex-start;
}
