.releaseSnapshotsDialog :global .p-dialog-content {
  max-height: 50vh !important;
}

.createInputAndButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .createButtonWrapper {
    align-self: center;
  }
}

.createSnapshotButton {
  border-radius: 0 5px 5px 0 !important;
  box-shadow: 0px 0px 0px 1.5px var(--c-corporate-blue);
  height: 32px !important;
  &:focus {
    box-shadow: none !important;
  }
}

.snapshotForm {
  margin-bottom: 0px !important;
}
.createAndReleaseItem {
  margin: 0;
  margin-bottom: 1.5rem;
  background-color: #f2f5f94d;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--gray-50);
  color: black;
  list-style: none;
}
.itemInner {
  margin: 0;
}
p {
  margin: 0 0 1em 0;
}
.itemData {
  display: flex;
  justify-content: space-between;
  margin: 0;

  .listActions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .btn {
      padding: 0;
      margin: 0 3.5px;
      border-radius: 5px;
      width: 32px;
      height: 32px;
      border-color: transparent;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
.createAndReleaseText {
  display: flex;
  align-items: center;
}
