.systemNotificationFormWrapper {
  display: flex;
  flex-direction: column;
  > div > div {
    padding: 0.5em;
  }
  > div > div {
    label {
      font-weight: bold;
    }
  }
  .enabledCheckbox {
    display: flex;
    align-items: center;
    label {
      cursor: pointer;
      font-weight: bold;
      margin-right: 0.5rem;
    }
  }
  .previewSystemNotification {
    display: flex;
    justify-content: center;
    > div {
      margin: 0 !important;
    }
  }
  .previewButtonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}
