.userBoxContainer {
  width: auto;
  border-radius: 5px;
  border: 1px solid var(--card-box-shadow);
  -webkit-box-shadow: 6px 8px 9px 1px var(--card-box-shadow);
  -moz-box-shadow: 6px 8px 9px 1px var(--card-box-shadow);
  box-shadow: 6px 8px 9px 1px var(--card-box-shadow);
  margin-right: 3rem;
}
