.codelistItem {
  font-size: 14px;
  /* cursor: pointer; */
}

.codelistItem {
  margin: 0 1.5rem 0 0.5rem;
  padding: 1rem;
  border-top: 1px solid var(--gray-25);
  display: flex;
  /* border-bottom: 1px solid var(--gray-25); */
}

.codelistItem:first-child {
  border-top: 0;
}

.codelistItem span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.codelistExpandable {
  height: 1.5vw;
  padding: 1.5rem 0 1.5rem 1.5rem;
  align-items: center;
  /* background-color: var(--gray-5); */
  display: flex;
}

.footerWrap {
  display: flex;
  justify-content: space-between;
}

.footerWrap input {
  margin-right: 1rem;
}

.footerWrap input:nth-last-child(2) {
  margin-left: auto;
}

.itemTable {
  margin: 1rem 3.5rem;
}

.unsavedChangesIcon {
  font-size: 18pt;
  position: absolute;
  right: 0;
  color: var(--c-chart-warning);
}

.statusBox {
  border-radius: 3px;
  padding: 4px;
  color: white;
  font-size: 10pt;
  font-weight: 600;
}

.deprecatedBox {
  background-color: rgba(var(--c-red-100-rgb), 0.9);
}

.readyBox {
  background-color: rgba(var(--success-color-rgb), 0.8);
}

.designBox {
  background-color: rgba(var(--c-corporate-blue-rgb), 0.8);
}
