.descriptionLabel {
  margin: 0.5vw 0 0.5vw 1vw;
  color: var(--main-font-color);
}
.fieldDesignerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap-reverse;
  z-index: 3000;
}

.fieldDesignerWrapper:last-child {
  margin-bottom: 1rem;
}

.fieldsWrapper {
  /* border: 1px solid var(--c-custom-gray);
  padding: 10px 0; */
}

.switchContainerInput {
  width: 100vw;
}

.switchDivInput {
  display: flex;
  align-items: center;
  margin: 0 0 2vw 1vw;
}
.switchDiv {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: 3vw;
}

.switchTextInput {
  font-size: 1em;
  font-weight: bold;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 5px;
}
.tableDescriptionInput {
  width: 68vw;
}
.positioning {
  top: 0 !important;
}

:global body .p-inputswitch.p-inputswitch-focus .p-inputswitch-slider {
  box-shadow: 0 0 0 0em var(--blue-120) !important;
}
