.descriptionLabel {
  margin: 0.5vw 0 0.5vw 1vw;
  color: var(--main-font-color);
}
.fieldDesignerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap-reverse;
  z-index: 3000;
}

.fieldDesignerWrapper:last-child {
  margin-bottom: 1rem;
}

.fieldsHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  color: var(--main-font-color);
  font-weight: bold;
  label {
    &:first-child {
      width: 32px;
    }
    &:nth-child(2) {
      width: 70px;
    }
    &:nth-child(3) {
      width: 35px;
    }
    &:nth-child(4) {
      width: 20%;
      margin-right: 0.4rem;
    }
    &:nth-child(5) {
      width: 25%;
      margin-right: 0.4rem;
    }
    &:nth-child(6) {
      width: 20%;
      margin-right: 0.4rem;
    }
  }

  .PKWrap {
    > label {
      margin-left: 0.5rem !important;
    }

    .PKInfoButton {
      background-color: var(--white) !important;
      border-radius: 50% !important;
      color: var(--datatable-header-info-button-color) !important;
      font-size: 12pt !important;
      height: 0.7em !important;
      margin-left: 0.4rem !important;
      width: 0.7em !important;
      margin-right: 0.9rem !important;
      margin-top: -1rem !important;
      padding: 0rem !important;

      &:focus {
        box-shadow: none !important;
      }
    }
  }
}

.positioning {
  top: 0 !important;
}

.switchContainerInput {
  width: 100vw;
}
.switchDiv {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.switchDiv div:nth-child(1) {
  margin-bottom: 0.5rem;
}
.switchDivInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2vw 1vw;

  .constraintsButtons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35%;
  }
}
.switchTextInput {
  font-weight: bold;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 5px;
  color: var(--main-font-color);
}
.tableDescriptionInput {
  width: 40vw;
  transition: 0.5s !important;
}

:global body .p-inputswitch.p-inputswitch-focus .p-inputswitch-slider {
  box-shadow: 0 0 0 0em var(--blue-120) !important;
}
