.listItem {
  margin: 0;
  margin-bottom: 5px;
  background-color: #f2f5f94d;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--gray-50);
  color: black;
}
.itemBox {
  margin: 0;
}
p {
  margin: 0 0 1em 0;
}
.listItemData {
  display: flex;
  justify-content: space-between;
  margin: 0;

  .listActions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .btn {
      padding: 0;
      margin: 0 3.5px;
      border-radius: 5px;
      width: 32px;
      height: 32px;
      border-color: transparent;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
.is_released_snapshot {
  color: green;
}
.listItemData .listActions button:nth-last-of-type(1) {
  margin-right: 0;
}
.snapshotDescription {
  margin: 0;
  color: black;
}

.hasBlockers {
  background-color: transparent !important;
  color: black !important;
  font-size: 2rem;
  border: none !important;
  padding: 0 !important;
  &:enabled:focus {
    box-shadow: 0 0 0 0 var(--white) !important;
  }
  &:enabled:active,
  :enabled:hover {
    background-color: transparent !important;
    border-color: transparent !important;
  }
}
