.container {
  flex: 1 auto;
  height: 100%;
  &.isLoading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.checkedValueColumn {
  text-align: center;
}

.filesContainer {
  display: flex;
  align-items: center;

  .filesIcon {
    font-size: 1.5rem;
    color: var(--documenticon-color);

    .cursorPointer {
      cursor: pointer;
    }
  }

  .filesText {
    margin-left: 0.5rem !important;
  }
}

.noDataflows {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
