.levelError {
  border-radius: 3px;
  color: white;
  font-size: 10pt;
  font-weight: 600;
  padding: 4px;
  margin-top: 2px;
}

.blocker {
  background-color: rgba(var(--statusBox-blocker-bg), 0.8) !important;
  color: rgba(var(--statusBox-blocker-color), 0.8) !important;
}

.error {
  background-color: var(--statusBox-error-bg) !important;
  color: var(--statusBox-error-color) !important;
}

.info {
  background-color: var(--statusBox-info-bg) !important;
  color: var(--statusBox-info-color) !important;
}

.warning {
  background-color: var(--statusBox-warning-bg) !important;
  color: var(--statusBox-warning-color) !important;
}
