.list {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 0rem;

  li {
    min-width: 10em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #676767;
    background-color: var(--white);
    padding: 4px;
    margin: 0.5rem;
    cursor: pointer;
    user-select: none;
  }
}

.labelItem {
  margin: 0rem;
  margin-left: 0rem;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 0.9rem;
}

.checkbox:not(:checked) + .labelItem {
  text-decoration-line: line-through;
  opacity: 0.5;
}

.checkbox {
  position: relative;
  margin: 0 0.5rem 0 0;
  cursor: pointer;
  appearance: none;
  border: transparent;
  display: flex;
  flex-direction: row;
  width: 2.5rem;
  height: 0.8rem;
  padding: 0;
  border-radius: 0px;

  &:focus {
    border-color: transparent;
    box-shadow: none;
  }
  &[data-status='correct'],
  &[data-status='info'],
  &[data-status='warning'],
  &[data-status='error'],
  &[data-status='blocker'] {
    border: 1px solid var(--gray-50);
  }

  &:not(:checked) {
    opacity: 0.5;
  }
}
