.p-breadcrumb {
  margin: 0;
  padding: 0;
  padding: 0.5em;
}

.p-breadcrumb ul {
  margin: 0;
  padding: 0;
}

.p-breadcrumb ul li {
  display: inline-block;
  margin: 0 0.25em;
}

.p-breadcrumb-chevron,
.p-breadcrumb-home {
  vertical-align: middle;
}

.p-breadcrumb ul li .p-menuitem-link {
  text-decoration: none;
}

.menuitem-icon {
  font-size: 7rem !important;
}

.p-breadcrumb .p-menuitem-icon {
  margin-right: 0.25em;
  vertical-align: middle;
}

.p-breadcrumb .p-menuitem-text {
  vertical-align: middle;
}
