.title {
	border-bottom: 1px solid #ccc;
	width: 100%;
}
.pageContent {
}
.buttonsWrapper {
	display: flex;
	flex-direction: row;
}
.buttonsWrapper button {
}
.buttonsWrapper button :global .p-button-text {
	font-size: 2rem;
	padding: 2rem !important;
}
.buttonsWrapper :global .p-splitbutton-menubutton {
	right: 1em;
}
.buttonsWrapper :global .p-button-icon-left {
	bottom: 0px !important;
	top: auto !important;
}

.buttonwrapper {
	margin-left: 1rem;
}
.buttonWrapper:nth-last-of-type(2) {
	margin-left: 0px;
}
